# Pandas Cheat Sheet

Nice tips on more advanced use

https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/  

http://pbpython.com/pandas-list-dict.html

References:  
<http://pandas.pydata.org/pandas-docs/stable/basics.html>  
<http://pandas.pydata.org/pandas-docs/version/0.15.2/10min.html>    
<http://synesthesiam.com/posts/an-introduction-to-pandas.html>  
<http://pbpython.com/excel-pandas-comp.html>  
<http://pbpython.com/excel-pandas-comp-2.html>  
<http://pbpython.com/improve-pandas-excel-output.html>  
<http://tech.novus.com/augmenting-your-excel-workflow-with-python/>    
<http://pbpython.com/advanced-excel-workbooks.html>

<http://pbpython.com/pandas-pivot-table-explained.html.
<http://pbpython.com/pandas-pivot-report.html>

http://pbpython.com/weighted-average.html

<http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook-multi-index>  

<http://www.bigdataexaminer.com/14-best-python-pandas-features/>  
<http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping>  
<https://iqbalnaved.wordpress.com/2013/08/26/python-pandas-hacks/>   

<https://plot.ly/ipython-notebooks/big-data-analytics-with-pandas-and-sqlite/>  
<http://www.analyticsvidhya.com/blog/2015/04/comprehensive-guide-data-exploration-sas-using-python-numpy-scipy-matplotlib-pandas/>  

<http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/>  
<http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/>

In [2]:
import numpy as np
import pandas as pd

import datetime

from __future__ import print_function

<https://s3.amazonaws.com/quandl-static-content/Documents/Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf>   

|Create pandas data structures| |
|--|--|
|s = Series(data, index) |Create a Series.|
|df = DataFrame (data, index, columns) |Create a Dataframe.|
|p = Panel(data, items, major_axis, minor_axis)|Create a Panel.|


|	DataFrame Commands	|		|
|--|--|
|	df[col]	|	Select column.	|
|	df.iloc[label]	|	Select row by label.	|
|	df.index	|	Return DataFrame index.	|
|	df.drop()	|	Delete given row or column. Pass axis=1 for columns.	|
|	df1 = df1.reindex_like(df1,df2)	|	Reindex df1 with index of df2.	|
|	df.reset_index()	|	Reset index, putting old index in column named index.	|
|	df.reindex()	|	Change DataFrame index, new indecies set to NaN.	|
|	df.head(n)	|	Show first n rows.	|
|	df.tail(n)	|	Show last n rows.	|
|	df.sort()	|	Sort index.	|
|	df.sort(axis=1)	|	Sort columns.	|
|	df.pivot(index,column,values)	|	Pivot DataFrame, using new conditions.	|
|	df.T	|	Transpose DataFrame.	|
|	df.stack()	|	Change lowest level of column labels into innermost row index.	|
|	df.unstack()	|	Change innermost row index into lowest level of column labels.	|
|	df.applymap()	|	Apply function to every element in DataFrame.	|
|	df.apply()	|	Apply function along a given axis	|
|	df.dropna()	|	Drops rows where any data is missing.	|
|	df.count()	|	Returns Series of row counts for every column.	|
|	df.min()	|	Return minimum of every column.	|
|	df.max()	|	Return maximum of every column.	|
|	df.describe()	|	Generate various summary statistics for every column.	|
|	concat()	|	Merge DataFrame or Series objects	|	

|	Groupby	|		|
|--|--|
|	groupby()	|	Split DataFrame by columns. Creates a GroupBy object (gb).	|
|	gb.agg()	|	Apply function (single or list) to a GroupBy object.	|
|	gb.transform()	|	Applies function and returns object with same index as one being grouped.	|
|	gb.filter()	|	Filter GroupBy object by a given function.	|
|	gb.groups	|	Return dict whose keys are the unique groups, and values are axis labels belonging to each group.	|

|	I/O	|		|
|--|--|
|	df.to_csv('foo.csv')	|	Save to CSV.	|
|	read_csv('foo.csv')	|	Read CSV into DataFrame.	|
|	to_excel('foo.xlsx', sheet_name)	|	Save to Excel.	|
|	read_excel('foo.xlsx','sheet1', index_col = None, na_values = ['NA'])	|	Read exel into DataFrame	|

## Set the display width when printing to console

There are quite a few options to configure here, if you're using ipython then tab complete to find the [full set](http://pandas.pydata.org/pandas-docs/version/0.15.2/options.html) of display options:

    pd.options.display.<tab>

<http://stackoverflow.com/questions/21249206/how-to-configure-display-output-in-ipython-pandas>

In [3]:
# maximum number of rows and columns displayed when a frame is pretty-printed
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 10)
# Width of the display in characters.
pd.set_option('display.width', 150)
# The maximum width in characters of a column in the repr of a pandas data structure.              
pd.set_option('display.max_colwidth', 150)

## Displaying DataFrame data usage

http://pandas.pydata.org/pandas-docs/version/0.15.2/faq.html

The memory usage of a dataframe (including the index) is shown when accessing the info method of a dataframe. A configuration option, `display.memory_usage` (see [Options and Settings](http://pandas.pydata.org/pandas-docs/version/0.15.2/options.html#options)), specifies if the dataframe's memory usage will be displayed when invoking the `df.info()` method.  By default the display option is set to `True` but can be explicitly overridden by passing the `memory_usage` argument when invoking `df.info()`.

In [4]:
dtypes = ['int64', 'float64', 'datetime64[ns]', 'timedelta64[ns]','complex128', 'object', 'bool']
n = 5000
data = dict([ (t, np.random.randint(100, size=n).astype(t)) for t in dtypes])
df = pd.DataFrame(data)
df['categorical'] = df['object'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 8 columns):
bool               5000 non-null bool
complex128         5000 non-null complex128
datetime64[ns]     5000 non-null datetime64[ns]
float64            5000 non-null float64
int64              5000 non-null int64
object             5000 non-null object
timedelta64[ns]    5000 non-null timedelta64[ns]
categorical        5000 non-null category
dtypes: bool(1), category(1), complex128(1), datetime64[ns](1), float64(1), int64(1), object(1), timedelta64[ns](1)
memory usage: 323.0+ KB

The `+` symbol indicates that the true memory usage could be higher, because pandas does not count the memory used by values in columns with `dtype=object`.

The memory usage of each column can be found by calling the `memory_usag`e method. This returns a `Series` with an index represented by column names and memory usage of each column shown in bytes. For the dataframe above, the memory usage of each column and the total memory usage of the dataframe can be found with the memory_usage method:

In [6]:
df.memory_usage(index=True)

Index              40000
bool                5000
complex128         80000
datetime64[ns]     40000
float64            40000
int64              40000
object             40000
timedelta64[ns]    40000
categorical         5800
dtype: int64

## Creating/Loading Data

### Functions to create different dataframe types

An empty DataFrame can be created as follows. Test to see if the DataFrame is empty. In this case it is.

In [4]:
columns = ['A','B', 'C']
df = pd.DataFrame(columns=columns)
print(df)
print(df.empty)

Empty DataFrame
Columns: [A, B, C]
Index: []
True

If you add an index, the row contents for the rows specified by the index will be empty (filled with NaN).  However, testing to see if the DataFrame is empty will show that it is not empty: there are rows.

In [5]:
todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date-datetime.timedelta(10), periods=3, freq='D')
columns = ['A','B', 'C']
df = pd.DataFrame(index=index, columns=columns)
print(df)
print(df.empty)
df = df.fillna(0) # with 0s rather than NaNs
print(df)

              A    B    C
2016-01-28  NaN  NaN  NaN
2016-01-29  NaN  NaN  NaN
2016-01-30  NaN  NaN  NaN
False
            A  B  C
2016-01-28  0  0  0
2016-01-29  0  0  0
2016-01-30  0  0  0

### Creating and filling DataFrames

The following  functions create pandas dataframes in a variety of ways.

In [4]:
# DataFrame by passing a numpy array, with a datetime index and labeled columns.
def makeDateRand(nrows=6, ncols=4):
    dates = pd.date_range('20130101',periods=nrows)
    df = pd.DataFrame(np.random.randn(nrows,ncols),index=dates,columns=list('ABCD')) 
    return df
print(makeDateRand())

                   A         B         C         D
2013-01-01  0.532506 -0.679253  1.052995  0.779169
2013-01-02  0.247245 -0.493314 -0.934018 -0.927235
2013-01-03  0.013339  0.071208 -0.959120  0.944197
2013-01-04 -1.989278  0.328953  0.624842  1.086813
2013-01-05  0.638037  0.315763  1.359108 -1.191849
2013-01-06  1.510932  0.098455  1.253271 -0.290452

In [7]:
# DataFrame by passing a numpy array, with a datetime index and labeled columns, but also with a Date column.
def makeDateColRand(nrows=6, ncols=4):
    dates = pd.date_range('20130101',periods=6)
    df = pd.DataFrame(np.random.randn(nrows,ncols),index=dates,columns=list('ABCD')) 
    df['Date'] = df.index
    return df
print(makeDateColRand())

                   A         B         C         D       Date
2013-01-01 -0.858220 -1.121771  0.285643  0.037193 2013-01-01
2013-01-02  0.819435 -1.495568  1.150104 -0.633927 2013-01-02
2013-01-03 -0.183442 -0.503572 -0.791790  0.411153 2013-01-03
2013-01-04 -0.267630  0.150403 -0.909288 -1.565888 2013-01-04
2013-01-05  0.456620 -0.105889  0.452721  1.376860 2013-01-05
2013-01-06  1.729353  0.274230 -1.288973 -0.113950 2013-01-06

In [5]:
# DataFrame by passing a numpy array, with an int index and labeled columns.
def makeRand(nrows=4, ncols=4):
    return pd.DataFrame(np.random.randn(nrows, ncols), columns=['A','B','C','D'])

In [6]:
# create from dictionary
def makefoobar():
    return  pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                          'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                          'C' : np.random.randn(8),
                          'D' : np.random.randn(8)})

In [10]:
# create from dictionary
def makegridDF():
    return  pd.DataFrame({'A' : [1,2,3],
                          'B' : [4,5,6],
                          'C' : [7,8,9],
                          'D' : [10,11,12]})

In [11]:
# create from dictionary with scalars
# ValueError: If use all scalar values, must pass index
def makegridScalarDF():
    return  pd.DataFrame(dct = {'A' : 1,'B' : 4,'C' : 9,'D' : 12}, index=[0])

In [12]:
# create from dictionary
def makegAlphaDF():
    return  pd.DataFrame({'A' : ['0a','1a','2a'],
                          'B' : ['0b','1b','2b'],
                          'C' : ['0c','1c','2c'],
                          'D' : ['0d','1d','2d']})

In [13]:
# create dataframe from a user-supplied string, using a user-defined regex separator 
def makeFromString(string, sep='\s+', header=False):
    from StringIO import StringIO
    return pd.read_csv(StringIO(string), sep=sep, header=header)
# alternative method
#     import io
#     return pd.read_table(io.BytesIO(content), sep=sep, header=header)

In [14]:
# DataFrame by passing a dict of objects that can be converted to series-like.
# using categorical in column E
def makecatedf():
    df = pd.DataFrame({'A' : 1.,
                       'B' : pd.Timestamp('20130102'),
                       'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                       'D' : np.array([3] * 4,dtype='int32'),
                       'E' : pd.Categorical(["test","train","test","train"]),
                       'F' : 'foo',
                       'G': ['foox','fooa','foon','fooz']})
    return (df)

In [15]:
# create a dataframe with a NaN
def makeNaNdf():
    return pd.DataFrame([[1, np.nan], [3, 4], [4,5]], columns=list('AB'))

In [16]:
# create a DataFrame with hierarchical column index
# From http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
def createMultColIdx():
    return pd.DataFrame([list('abcd'),
                  list('efgh'),
                  list('ijkl'),
                  list('mnop')],
                  columns=pd.MultiIndex.from_product([['one','two'],
                      ['first','second']]))

In [17]:
print(makeDateRand())

                   A         B         C         D
2013-01-01 -0.177214  0.560341 -0.700169 -0.033890
2013-01-02 -1.239181 -2.410491  1.976401 -2.358025
2013-01-03 -0.576677  0.002329  0.280428 -1.140695
2013-01-04  0.071834  1.148618  2.061089  0.410267
2013-01-05  0.545592  0.121366 -2.756828  0.398412
2013-01-06  0.089176  1.147998  1.737739  0.253513

Display the data types

In [18]:
df2 = makecatedf()
print(df2.dtypes)
df2

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
G            object
dtype: object

   A          B  C  D      E    F     G
0  1 2013-01-02  1  3   test  foo  foox
1  1 2013-01-02  1  3  train  foo  fooa
2  1 2013-01-02  1  3   test  foo  foon
3  1 2013-01-02  1  3  train  foo  fooz

In [19]:
content = '''
Time       A_x       A_y       A_z       B_x       B_y       B_z
-0.075509 -0.123527 -0.547239 -0.453707 -0.969796  0.248761  1.369613
-0.133580 -0.308314 -0.839347 -0.517989  0.652120  0.477232 -0.391767
 0.623841  0.473552  0.059428  0.726088 -0.593291 -3.186297 -0.846863'''

makeFromString(content,header=0)

       Time       A_x       A_y       A_z       B_x       B_y       B_z
0 -0.075509 -0.123527 -0.547239 -0.453707 -0.969796  0.248761  1.369613
1 -0.133580 -0.308314 -0.839347 -0.517989  0.652120  0.477232 -0.391767
2  0.623841  0.473552  0.059428  0.726088 -0.593291 -3.186297 -0.846863

If you're using IPython, tab completion for column names (as well as public attributes) is automatically enabled:  
    `df2.<Tab>`

## Display two tables side-by-side

<https://gist.github.com/stefanv/6416926>

In [20]:
class side_by_side():
    def __init__(self, *frames):
        self.frames = frames

    def _repr_html_(self):
        width = 100. / len(self.frames)

        s = ""
        for f in self.frames:
            s += "<div style='float: left;'>%s</div>" % f._repr_html_()

        return s

In [21]:
side_by_side(makeDateRand(), makeDateRand())

## File Input/Output

## CSV

In [22]:
df = makeDateRand()
df.to_csv('foo.csv')
pd.read_csv('foo.csv')

   Unnamed: 0         A         B         C         D
0  2013-01-01 -1.005677 -0.049693  1.032511  0.153800
1  2013-01-02 -0.569620  1.028489  1.391856 -0.863458
2  2013-01-03  1.072119  1.189050 -0.470007 -1.061697
3  2013-01-04 -1.054019 -0.896340 -0.192165  0.015787
4  2013-01-05  0.177995 -0.945051 -1.334324  0.216172
5  2013-01-06 -0.145367 -1.988952  0.527754  0.149334

In [23]:
import pandas as pd
# use whitespace as separator
df = makeDateRand()
df.to_csv('foo.csv',sep=' ')
pd.read_table('foo.csv', sep='\s+')

                   A         B         C         D
2013-01-01 -1.172514 -1.232346  0.041391  0.502710
2013-01-02  0.390056  2.790345  0.870934  0.383643
2013-01-03  0.619794 -0.174052  0.242330 -0.929840
2013-01-04  0.281023 -0.193368  1.100167 -0.008582
2013-01-05  0.549323 -0.509116  1.862407 -0.264812
2013-01-06  1.544902  1.007861 -1.629962 -1.097465

### Excel

In [24]:
df = makeDateRand()
df.to_excel('foo.xlsx', sheet_name='Sheet1')
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                   A         B         C         D
2013-01-01  1.463285  0.454905 -0.381751  1.616424
2013-01-02  0.285236  0.414683  0.829285 -1.362172
2013-01-03  0.274179  0.529623 -0.094687 -0.326809
2013-01-04  0.681940 -0.378053  0.362236  0.177211
2013-01-05  0.389350  1.425946  0.497735  2.017952
2013-01-06  0.413231  0.190388  0.970727 -0.030641

The `read_excel` function can read one or more worksheets from an Excel filename.  If only a single sheet is read, the single sheet data is returned as a dataframe.  If more than one (or all) sheets are read the dataframes are returned as a dictionary where the keys are the sheet names.

In [25]:
import pandas as pd
filename = 'data/atmos-elevation-angles.xlsx'
dictEff = pd.read_excel(filename,sheetname=None)
print(dictEff['SpecRanges'])
dfSpec = dictEff['SpecRanges']
specBand = 'MWIR'
print(dfSpec[specBand])
print('Spectral band {} is defined as {}-{} um'.format(specBand,dfSpec[specBand][0],dfSpec[specBand][1]))
print(dictEff['Sheet1'].head())

   LWIR  MWIR  NIR  SWIR  Visible
0     8   3.6  0.7   1.0     0.43
1    12   4.9  0.9   1.7     0.69
0    3.6
1    4.9
Name: MWIR, dtype: float64
Spectral band MWIR is defined as 3.6-4.9 um
                    Atmo  Altitude  Zenith SpecBand   ToaWattTot     ToaWatt  BoaWattTot     BoaWatt  LpathWatt                 ToaQTot  \
0  ExtremeHotLowHumidity         0       0      NIR  1398.766052  235.180000  947.004883  196.459289   5.364350  6690789636830180409344
0  ExtremeHotLowHumidity         0       0  Visible  1398.766052  483.245923  947.004883  370.424402  20.394616  6690789636830180409344
0  ExtremeHotLowHumidity         0       0     MWIR  1398.766052    9.748536  947.004883    5.206474   1.379844  6690789636830180409344
0  ExtremeHotLowHumidity         0       0     LWIR  1398.766052    1.154950  947.004883    0.616622  17.365368  6690789636830180409344
0  ExtremeHotLowHumidity         0       0     SWIR  1398.766052  292.085568  947.004883  191.096176   2.109043  6690789636830180409344

                     ToaQ                 BoaQTot                    BoaQ                 LpathQ  effTauSun  effTau300
0   937726333348337025024  4122214570298150223872   785416654991043985408   21215455885239898112   0.835698   0.848021
0  1348241428429020069888  4122214570298150223872  1041597055942209961984   55548734663692599296   0.766520   0.823165
0   202039529880885002240  4122214570298150223872   103624695175853998080   31168144028971900928   0.526636   0.348604
0    55088339967843901440  4122214570298150223872    29699935361939701760  865140806282256973824   0.534258   0.553856
0  1880571793373070098432  4122214570298150223872  1215473358446389886976   12608910223941199872   0.658600   0.919904

### HDF5

Excel and CSV  formats can only store single elements per 'cell.   HDF5 provides the means to store hierarchical data, where some DataFrame cells can contain Numpy arrays or other structures.  The example below has a Numpy array in column 'array' and a pandas Series in column 'dframe'.  

Note that the Series index must match the dataframe index, otherwise the Series elements cannot be assigned (NaN are then assigned to all elements in the column).

<http://pandas.pydata.org/pandas-docs/version/0.15.2/io.html#io-hdf5>

In [26]:
df = makeDateRand()
df['arrays'] = [np.asarray([[1,x],[x/2,4*x]]) for x in range(6)]
ser = pd.Series([np.asarray([[1,x],[x/2,4*x]]) for x in range(6)],index=pd.date_range('20130101',periods=6))
print(ser)
df['dframe'] = ser
print(df)
df.to_hdf('df.hdf5','df',mode='w',append=False)
df = pd.read_hdf('df.hdf5', 'df')
print(df)
print(df.dtypes)

2013-01-01     [[1, 0], [0, 0]]
2013-01-02     [[1, 1], [0, 4]]
2013-01-03     [[1, 2], [1, 8]]
2013-01-04    [[1, 3], [1, 12]]
2013-01-05    [[1, 4], [2, 16]]
2013-01-06    [[1, 5], [2, 20]]
Freq: D, dtype: object
                   A         B         C         D             arrays             dframe
2013-01-01 -2.086896  0.865485 -0.022022  0.335675   [[1, 0], [0, 0]]   [[1, 0], [0, 0]]
2013-01-02 -0.088205  0.456651 -0.623869  0.135634   [[1, 1], [0, 4]]   [[1, 1], [0, 4]]
2013-01-03  0.950664  0.776235  0.345034 -0.822182   [[1, 2], [1, 8]]   [[1, 2], [1, 8]]
2013-01-04 -2.063208  0.122507 -0.828671 -0.680353  [[1, 3], [1, 12]]  [[1, 3], [1, 12]]
2013-01-05  0.045155  0.175735  0.181182  2.034127  [[1, 4], [2, 16]]  [[1, 4], [2, 16]]
2013-01-06 -1.770777 -0.200343  0.822994 -0.943574  [[1, 5], [2, 20]]  [[1, 5], [2, 20]]
                   A         B         C         D             arrays             dframe
2013-01-01 -2.086896  0.865485 -0.022022  0.335675   [[1, 0], [0, 0]]   [[1, 0], [0, 0]]
2013-01-02 -0.088205  0.456651 -0.623869  0.135634   [[1, 1], [0, 4]]   [[1, 1], [0, 4]]
2013-01-03  0.950664  0.776235  0.345034 -0.822182   [[1, 2], [1, 8]]   [[1, 2], [1, 8]]
2013-01-04 -2.063208  0.122507 -0.828671 -0.680353  [[1, 3], [1, 12]]  [[1, 3], [1, 12]]
2013-01-05  0.045155  0.175735  0.181182  2.034127  [[1, 4], [2, 16]]  [[1, 4], [2, 16]]
2013-01-06 -1.770777 -0.200343  0.822994 -0.943574  [[1, 5], [2, 20]]  [[1, 5], [2, 20]]
A         float64
B         float64
C         float64
D         float64
arrays     object
dframe     object
dtype: object

C:\Anaconda2\lib\site-packages\pandas\core\generic.py:939: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['arrays', 'dframe']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

Store and recover lists and dicts to/from HDF5 file

In [27]:
lst = [1,2,3]
dct = {'A' : 1,'B' : 4,'C' : 9,'D' : 12}
print(lst)
print(dct)
filename = 'test.hdf5'
store = pd.HDFStore(filename)
store['lst'] = pd.DataFrame(lst)
store['dct'] = pd.DataFrame(dct, index=[0])
store.close()

with pd.HDFStore(filename) as store:
    dlst = store['lst'][0].tolist()
    print(dlst)
    ddct = store['dct'].iloc[0].to_dict()
    print(ddct)

[1, 2, 3]
{'A': 1, 'C': 9, 'B': 4, 'D': 12}
[1, 2, 3]
{'A': 1, 'C': 9, 'B': 4, 'D': 12}

## Dataframe properties

### Row properties

The row count can be obtained in two different forms:

- The `len` and `shape` methods count the number of rows in the DataFrame, irrespective of the contents of the cells.
- The `df.count()` function returns a pandas series containing the number of valid entries in a column - ignoring NaN.

In [28]:
df = makeNaNdf()
print(df)
print('\nlen(df) = {}'.format(len(df)))
print('\nshape[0] = {}'.format(df.shape[0]))
print('\ntype(df.count()) = {}'.format(type(df.count())))
print('\ndf.count() = \n{}'.format(df.count()))
print("\ndf.count()['A'] = {}".format(df.count()['A']))
print('\ndf.count()[1] = {}'.format(df.count()[1]))
print('\nNans = \n{}'.format(df.apply(lambda col: pd.isnull(col))))

   A   B
0  1 NaN
1  3   4
2  4   5

len(df) = 3

shape[0] = 3

type(df.count()) = <class 'pandas.core.series.Series'>

df.count() =
A    3
B    2
dtype: int64

df.count()['A'] = 3

df.count()[1] = 2

Nans =
       A      B
0  False   True
1  False  False
2  False  False

The DataDrame index (row names) can be retrieved as a [`pandas.index `](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html), which can be used to retrieve a list of the row names:

In [29]:
df = makegridDF()
print(df.index)
print(df.index.tolist())

Int64Index([0, 1, 2], dtype='int64')
[0, 1, 2]

If the DataDrame index is a more complex data type, the data type is returned:

In [30]:
df = makeDateRand()
print(df.index)
print(df.index.tolist()) # returns a list
print(df.index.values) # returns an array

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'], dtype='datetime64[ns]', freq='D')
[Timestamp('2013-01-01 00:00:00', offset='D'), Timestamp('2013-01-02 00:00:00', offset='D'), Timestamp('2013-01-03 00:00:00', offset='D'), Timestamp('2013-01-04 00:00:00', offset='D'), Timestamp('2013-01-05 00:00:00', offset='D'), Timestamp('2013-01-06 00:00:00', offset='D')]
['2013-01-01T02:00:00.000000000+0200' '2013-01-02T02:00:00.000000000+0200'
 '2013-01-03T02:00:00.000000000+0200' '2013-01-04T02:00:00.000000000+0200'
 '2013-01-05T02:00:00.000000000+0200' '2013-01-06T02:00:00.000000000+0200']

In [31]:
# set / change the index name
df = makegridDF()
df.index.name = 'MyIndex'
print(df)
print(df.index.tolist()) # returns a list
print(df.index.values)  # returns an array

         A  B  C   D
MyIndex
0        1  4  7  10
1        2  5  8  11
2        3  6  9  12
[0, 1, 2]
[0 1 2]

Use a column's values to set the index accordingly. Now that a repeat value appears to be allowed - strange.

In [32]:
df = makegridDF()
print(df)

df.loc[2,'A'] = 2
df.index = df.A
df.index.name = 'MyNewIndex'
print(df.loc[2,:])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
            A  B  C   D
MyNewIndex
2           2  5  8  11
2           2  6  9  12

### Column properties

The column names can be retrieved as a [`pandas.index `](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html):

In [33]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

Get a list of the columns in dataframe - there are two ways to do this:

In [34]:
df = makeDateRand()
print(list(df.columns.values))
print(df.columns.values.tolist()) #fastest
print(list(df))

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

### DataFrame values

Get the values of the DataFrame contents as a Numpy array:

In [35]:
df = makeDateRand()
df.values

array([[ 0.5799849 , -1.49744728, -0.09037327, -1.39423035],
       [ 0.37487863, -0.38188967,  0.11461234, -0.56700796],
       [ 0.75220315,  2.04954031, -1.16646693, -0.63358225],
       [-0.80049091,  0.45356273, -1.26176648, -0.83890687],
       [ 0.92756248,  1.20249398,  0.57953018, -1.37287723],
       [ 0.94755757,  2.41125355, -0.4171444 ,  0.10057587]])

## NaN in Pandas / Numpy

Empty cells, or cells with missing data are filled with NaNs.  The example shows how to test for NaN values (`isnull()`).

In [36]:
a = np.nan
print(a)
print(pd.isnull(a))

nan
True

Use the `fillna()` function to fill NaN cells with some other value.

In [37]:
df = pd.DataFrame([[1, np.nan], [3, 4]], columns=list('AB'))
print(df)
print('\nNans = \n{}'.format(df.apply(lambda col: pd.isnull(col))))

# change all NaN to some other value
df.B = df.B.fillna('**')
print('\nNans replaced with ** = \n{}'.format(df))

   A   B
0  1 NaN
1  3   4

Nans =
       A      B
0  False   True
1  False  False

Nans replaced with ** =
   A   B
0  1  **
1  3   4

Creating a new dataframe by removing NaN in a row

In [38]:
df = pd.DataFrame([[1, np.nan], [3, 4]], columns=list('AB'))
print(df)
df = df[pd.notnull(df['B'])]
print(df)

   A   B
0  1 NaN
1  3   4
   A  B
1  3  4

## Manipulating DataFrames

### View of a DataFrame vs a Copy of a DataFrame

See [here](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy) for the full example.
           
More information on [multi-indexing](http://pandas-docs.github.io/pandas-docs-travis/advanced.html)

In [71]:
dfmi = createMultColIdx()
print(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In the code below the first form `dfmi['one']['second']` is called the chained method, both using the `__getitem__` method, but happening in sequence.  The first call `dfmi['one']` returns a DataFrame which is input to the second call`(dfmi['one'])['second']` - these are two calls, one happening after the other.  

The second form `df.loc[:,('one','second')]`  passes a nested tuple to a single call to `__getitem__`, which can be significantly faster, and allows one to index both axes if so desired. Look at the name of the DataFrame returned in both cases and spot the difference.

In [72]:
print(dfmi['one']['second'])
print(dfmi.loc[:,('one','second')])

0    b
1    f
2    j
3    n
Name: second, dtype: object
0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

The first forms gives a `SettingWithCopyWarning` warning.  Since the chained indexing is 2 calls, it is possible that either call may return a copy of the data because of the way it is sliced. Thus when setting, you are actually setting a copy, and not the original frame data. 

The `.loc` operation is a single python operation, and thus can select a slice (which still may be a copy), but allows pandas to assign that slice back into the frame after it is modified, thus setting the values as you would think.

The reason for having the `SettingWithCopy` warning is this. Sometimes when you slice an array you will simply get a view back, which means you can set it no problem. However, even a single dtyped array can generate a copy if it is sliced in a particular way. A multi-dtyped DataFrame (meaning it has say float and object data), will almost always yield a copy. Whether a view is created is dependent on the memory layout of the array.

In [73]:
# dfmi['one']['second'] = 1 # assignment has no effect on the original!!
print(dfmi)
dfmi.loc[2,('one','second')] = 1 # assignment has no effect on the original!!
print(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p
    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      1     k      l
3     m      n     o      p

To get the desired effect, use `.loc` to directly address the original DataFrame.  The `slice` method is used to select multiple column levels.

<http://pandas-docs.github.io/pandas-docs-travis/advanced.html#using-slicers>

In [74]:
dfmi.loc[:,slice('one','second')] = 1
print(dfmi)

    one          two
  first second first second
0     1      1     c      d
1     1      1     g      h
2     1      1     k      l
3     1      1     o      p

### Dropping a row from a DataFrame

When using drop(), note the axis direction.   
- to drop a column axis=1  
- to drop a row axis=0  (default)

In [75]:
# drop a column
df = makegridDF()
# first drop the 'A' column
print(df.drop('A',axis=1))

   B  C   D
0  4  7  10
1  5  8  11
2  6  9  12

You can also use row indexes to drop columns.  The following example shows several index-based row drop methods.

In [76]:
df = makegridDF()
print(df)
print(df.drop(1)) # singe index
print(df.drop([1,2])) # list of indexes
print(df.drop(0,axis=0)) # single index explicit row selection
print(df.drop(df.index[[0,2]])) # list in the index 
for idx, row in df.iterrows():# iterate over all rows
    print(idx,row)
    df.drop(idx,inplace=True)
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
0  1  4  7  10
2  3  6  9  12
   A  B  C   D
0  1  4  7  10
   A  B  C   D
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
1  2  5  8  11
(0, A     1
B     4
C     7
D    10
Name: 0, dtype: int64)
(1, A     2
B     5
C     8
D    11
Name: 1, dtype: int64)
(2, A     3
B     6
C     9
D    12
Name: 2, dtype: int64)
Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [77]:
# drop some of the rows
df = makeDateRand()
df = df.drop(df.index[[0,1,2,3]])
for idx, row in df.iterrows():
    print(idx,row)

(Timestamp('2013-01-05 00:00:00', offset='D'), A   -0.190901
B    1.130106
C    0.724028
D   -0.911924
Name: 2013-01-05 00:00:00, dtype: float64)
(Timestamp('2013-01-06 00:00:00', offset='D'), A   -0.008589
B    0.782994
C    0.569657
D   -0.643207
Name: 2013-01-06 00:00:00, dtype: float64)

In [78]:
# drop row based on value in a column
df = makegridDF()
print(df)
print(df[df['A'] >= 3])
print(df[(df['A'] >= 2) & (df['B']<6)])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
2  3  6  9  12
   A  B  C   D
1  2  5  8  11

### Concatenation or Appending rows or DataFrames

`df.shape[0]` returns the number of rows already in the DataFrame (zero-based), hence if `df.shape[0]` is used as a row index, it will point to a new row immediately beyond the current last row.  This is an easy way to add row(s) to an existing DataFrame. 

Rows can be added to the DataFrame by [setting with enlargement](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#setting-with-enlargement).  The `df.loc[i]` (location) construct points to row `i`, which need not be an existing row.

In [79]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
print(df)
df.loc[df.shape[0]] = ['a','b'] # add a row immediately beyond the current last
df.loc[df.shape[0]] = [np.nan,'new!'] # add a row immediately beyond the current last
print(df)

   A  B
0  1  2
1  3  4
     A     B
0    1     2
1    3     4
2    a     b
3  NaN  new!

Append rows to a dataframe. See the [Appending](http://pandas.pydata.org/pandas-docs/version/0.15.2/merging.html#merging-concatenation).  This examples makes a copy of one of the rows and append it to the DataFrame.  Note that in this case a `copy()` is required to create a new DataFrame which is modified before appending.

In [80]:
df = makeRand()
s = df.iloc[2].copy() # copy is required, otherwise a view is taken
s[2] = 1000
print(s)
df.append(s, ignore_index=True)

A       0.558297
B       0.385684
C    1000.000000
D       0.809119
Name: 2, dtype: float64

          A         B            C         D
0 -0.006993 -0.237128    -0.169975  0.011128
1 -0.809174  0.168346    -1.032069  0.284853
2  0.558297  0.385684     0.033221  0.809119
3  0.010914 -0.722744     0.124827 -0.899785
4  0.558297  0.385684  1000.000000  0.809119

The `append()` function can be used to add one more rows formed as DataFrames to an existing DataFrame.

In [3]:
import pandas as pd
df = pd.DataFrame([[1, 2]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6]], columns=list('AB'))
df = df.append(df2,ignore_index=True) # append row(s)
print(df)

   A  B
0  1  2
1  5  6

In [81]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df = df.append(df2) # append row(s)
print(df)

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

Concatenate some existing rows from the current DataFrame to itself.

In [82]:
df = makeRand()
df2 = pd.concat([df,df[2:4]])
df2

          A         B         C         D
0  1.269385 -0.136598  1.249031  0.078660
1  0.455317 -0.508192  1.686987 -0.899462
2 -0.523176  0.976648 -0.362222  1.002026
3 -2.050571  0.194971 -0.146934  1.203949
2 -0.523176  0.976648 -0.362222  1.002026
3 -2.050571  0.194971 -0.146934  1.203949

The following examples concatenates three views of a DataFrame.

In [83]:
# Concatenating pandas objects together
df = makeRand(10,4)
print(df)
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          A         B         C         D
0 -1.307720  0.114617  1.985494 -0.768526
1 -0.968549 -0.436402  0.929447  1.589143
2  0.386373 -0.007288  0.330871 -0.318870
3  0.382988 -0.574115 -0.518458  0.243714
4 -0.033114 -1.363322  1.482941  0.418139
5  0.009686 -1.934983 -0.123421  0.403691
6  0.079436 -1.098776  0.741178 -0.080891
7 -0.044604 -0.347522 -1.031934  0.997849
8 -0.548602 -0.279627  0.485771  1.710783
9  0.639524 -0.005300 -0.180048  0.183473

          A         B         C         D
0 -1.307720  0.114617  1.985494 -0.768526
1 -0.968549 -0.436402  0.929447  1.589143
2  0.386373 -0.007288  0.330871 -0.318870
3  0.382988 -0.574115 -0.518458  0.243714
4 -0.033114 -1.363322  1.482941  0.418139
5  0.009686 -1.934983 -0.123421  0.403691
6  0.079436 -1.098776  0.741178 -0.080891
7 -0.044604 -0.347522 -1.031934  0.997849
8 -0.548602 -0.279627  0.485771  1.710783
9  0.639524 -0.005300 -0.180048  0.183473

Concatenation stacks together rows from two arrays. In the example below the `df` array is concatenated with a 2x2 slice from `dfr`.  There are two observations from the code below:

- The column names are used when concatenating the rows. In the first example the column names are consistent and appended as expected. In the second example the row names do not exactly agree and cells with missing data are filled with NaN.
- The index data type of the concatenated DataFrame must be the same as the main DataFrame (hash error occurs otherwise).  For example if the index is the DateTime series, the concatenation will not work.

In [84]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
dfr = makegridDF()
print(dfr)
print('\nExample 1')
print('to be contatenated={}'.format(dfr.loc[1:2,['A','B']]))
df2 = pd.concat([df,dfr.loc[1:2,['A','B']]])
print(df2)

print('\nExample 2')
print('to be contatenated={}'.format(dfr.loc[1:2,['B','C']]))
df2 = pd.concat([df,dfr.loc[1:2,['B','C']]])
print(df2)

#this will not concatenate in the examples above - index of wrong type
# df = makeDateRand()
# df.loc['20130102':'20130104',['A','B']]

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Example 1
to be contatenated=   A  B
1  2  5
2  3  6
   A  B
0  1  2
1  3  4
1  2  5
2  3  6

Example 2
to be contatenated=   B  C
1  5  8
2  6  9
    A  B   C
0   1  2 NaN
1   3  4 NaN
1 NaN  5   8
2 NaN  6   9

The following example shows how, if all rows are removed, the index starts again from zero.

In [8]:
# create new dataframe
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
print(df)

# add a row immediately beyond the current last
df.loc[df.shape[0]] = ['4','new!'] 
print(df)

# remove all rows where col 'A' is < 0 , i.e. all rows
df = df[df['A']<0]
print(df)

# add a new row - observe the index
df.loc[df.shape[0]] = ['4','new!'] 
print(df)

# reset_index does not remove rows
print('df.reset_index(drop=True)')
df = df.reset_index(drop=True)
print(df)
print(df.empty,'\n')

# add a new row - observe the index
df.loc[df.shape[0]] = ['6','wow!'] 
print(df)

# reset_index does not remove rows
print('df.reset_index(drop=True)')
df = pd.empty()
print(df)
print(df.empty,'\n')

# add a new row - observe the index
df.loc[df.shape[0]] = ['6','wow!'] 
print(df)

   A  B
0  1  2
1  3  4
   A     B
0  1     2
1  3     4
2  4  new!
Empty DataFrame
Columns: [A, B]
Index: []
   A     B
0  4  new!
df.reset_index(drop=True)
   A     B
0  4  new!
False

   A     B
0  4  new!
1  6  wow!
df.reset_index(drop=True)

AttributeError: 'module' object has no attribute 'empty'

### SQL style merges

See the [Database style joining](http://pandas.pydata.org/pandas-docs/version/0.15.2/merging.html#merging-join).

In [85]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
print(left)
print(right)
pd.merge(left, right, on='key')

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### Handling duplicated rows

Finding duplicate rows, where the values in all the columns must be duplicates.  You can not mark either the first or last duplicated row.  The second example creates a new DataFrame containing only the duplicated rows, counting the number of duplicated rows.

In [89]:
df2 = makegridDF()
df2.loc[1,'A'] = 1
df2.loc[1,'B'] = 1
df2.loc[0,'B'] = 1
df2['isdup'] = df2.duplicated(subset=['A','B'])
print(df2)
df2['isdup'] = df2.duplicated(subset=['A','B'], keep='last')
print(df2)

# create a new dataframe with the repeated rows
df = df2[df2.duplicated(subset=['A','B'], keep='last')] 
print(len(df))
print(df)

   A  B  C   D  isdup
0  1  1  7  10  False
1  1  1  8  11   True
2  3  6  9  12  False
   A  B  C   D  isdup
0  1  1  7  10   True
1  1  1  8  11  False
2  3  6  9  12  False
1
   A  B  C   D isdup
0  1  1  7  10  True

The next example only checks for duplicates in column 'A' and then delete these row(s) from the DataFrame.

In [90]:
df2.drop_duplicates(subset=['A'], keep='last', inplace=True)
df2

   A  B  C   D  isdup
1  1  1  8  11  False
2  3  6  9  12  False

The index value of any arbitrary row can be changed by making a list of the index, changing the value in the list and then re-assigning the list back to the DataFrame.

In [91]:
df2 = makegridDF()
df2.index = df2.index.tolist()[:-1]   + ['New Idx Value']
print(df2)

               A  B  C   D
0              1  4  7  10
1              2  5  8  11
New Idx Value  3  6  9  12

### Transpose a DataFrame

In [92]:
df = makegridDF()
print(df.T)
print(df.index)
print(df.columns)

    0   1   2
A   1   2   3
B   4   5   6
C   7   8   9
D  10  11  12
Int64Index([0, 1, 2], dtype='int64')
Index([u'A', u'B', u'C', u'D'], dtype='object')

### Selecting a subset of columns from a DataFrame

In [93]:
df = makegridDF()
print(df)
print(df.A)
print(df['A'])
print(df[['A','B']])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
0    1
1    2
2    3
Name: A, dtype: int64
0    1
1    2
2    3
Name: A, dtype: int64
   A  B
0  1  4
1  2  5
2  3  6

Selecting a subset of columns may result in a copy or a view of the original DataFrame.  In this example a copy is made when selecting the columns, but a warning ensues when you try to assign a value to an element.  This warning arises because in some cases a view into the original DataFrame is returned and pandas cannot always know which form is used.

<http://stackoverflow.com/questions/11285613/selecting-columns>

In [95]:
df = makegridDF()
df1 = df[['A','B']].copy()
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

The more secure way (also get rid of the warning) to build a new DataFrame with a selection of columns is as follows:

In [96]:
df = makegridDF()
df1 = df.loc[:,['A','B']]
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Another way would be to use `ix`.  However in this case a view is returned, which means that changing `df1` also changes the original DataFrame.

In [98]:
df = makegridDF()
# df1 = df.ix[:,slice('A','B')] # this and the following have same effect.
df1 = df.ix[:,0:2].copy()  # this and the previous have same effect.
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

To force a copy of the original, use the `copy` method.

In [99]:
df = makegridDF()
df1 = df.ix[:,slice('A','B')].copy() # this and the following have same effect.
# df1 = df.ix[:,0:2].copy()  # this and the previous have same effect.
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

### Adding a column to a dataframe

It is relatively easy to add a column to an existing data frame.

In [100]:
df = makeDateRand()
df['Total'] = df['A'] + df['B'] + df['C']
print(df)

                   A         B         C         D     Total
2013-01-01 -0.234821  0.783263  0.689276 -0.127255  1.237718
2013-01-02  0.150070  1.490795 -0.723355  0.560589  0.917510
2013-01-03 -0.110811  1.056543 -0.230234  0.285925  0.715498
2013-01-04 -1.951317  1.227303 -0.403211  0.455522 -1.127225
2013-01-05  0.196959 -0.522398  0.024911  1.089207 -0.300529
2013-01-06  1.157415  1.312511 -0.121426  0.538707  2.348499

String concatenation can be used across columns.

In [101]:
df = makegAlphaDF()
print(df)
df2 = df['A'] + df['B']
print(df2)

    A   B   C   D
0  0a  0b  0c  0d
1  1a  1b  1c  1d
2  2a  2b  2c  2d
0    0a0b
1    1a1b
2    2a2b
dtype: object

### Delete rows based on column value

DataFrame has an `isin` method. When calling `isin`, pass a set of values as either an array or dict. If values is an array, isin returns a DataFrame of booleans that is the same shape as the original DataFrame, with True wherever the element is in the sequence of values.

<http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-with-isin>  
<http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing>  

In the example below delete all rows where the value in column 'A' is in a given list.

In [102]:
df = makegridDF()
print(df)
idx = df['A'].isin([1,3])
df = df[~idx]
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
1  2  5  8  11

To match certain values in certain columns make a dict where the key is the column, and the value is a list of items you want to check for.  Combine DataFrames `isin()` with the `any()` and `all()` methods to quickly select subsets of your data that meet a given criteria. To select a row where each column meets its own criterion.

In the first example, remove all rows where the requirements for __all__ of the tests are met ('A' has 1 or 2, 'B' has 5 or 6, 'C' has 8 and 'D' has 11).

<http://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.all.html#numpy.ndarray.all>

In [103]:
df = makegridDF()
print(df)
idx = df.isin({'A': [1,2], 'B': [5,6], 'C': [8], 'D': [11]})
print(idx)
idx = idx.all(axis=1)
print(idx)
df = df[~idx]
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
       A      B      C      D
0   True  False  False  False
1   True   True   True   True
2  False   True  False  False
0    False
1     True
2    False
dtype: bool
   A  B  C   D
0  1  4  7  10
2  3  6  9  12

In the second example, drop all rows where the requirements for __any__ of the tests are met ('A' has 1 or 2, 'B' has 5 or 6, 'C' has 8 and 'D' has 11).  In this case, it would drop all rows from the DataFrame, leaving it empty.

In [104]:
df = makegridDF()
print(df)
idx = df.isin({'A': [1,2], 'B': [5,6]})
print(idx)
idx = idx.any(axis=1)
print(idx)
df = df[~idx]
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
       A      B      C      D
0   True  False  False  False
1   True   True  False  False
2  False   True  False  False
0    True
1    True
2    True
dtype: bool
Empty DataFrame
Columns: [A, B, C, D]
Index: []

### Sorting

Sort by column index (axis=1), i.e., rearrange column order.

In [105]:
df = makeDateRand()
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.137185  1.175862  1.302559 -0.597531
2013-01-02 -1.155487  1.045641  0.387867 -0.121104
2013-01-03  0.601236 -2.284374  0.140140  0.522306
2013-01-04  1.336826  0.893536 -2.266989 -0.323361
2013-01-05  1.276777 -1.413405  0.121149 -0.103744
2013-01-06  1.278895  0.135964  0.180330 -0.799433

Sort all rows by row value in column B.

In [107]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04 -0.323361 -2.266989  0.893536  1.336826
2013-01-05 -0.103744  0.121149 -1.413405  1.276777
2013-01-03  0.522306  0.140140 -2.284374  0.601236
2013-01-06 -0.799433  0.180330  0.135964  1.278895
2013-01-02 -0.121104  0.387867  1.045641 -1.155487
2013-01-01 -0.597531  1.302559  1.175862  0.137185

Sort all rows by row value in multiple columns.

In [108]:
df.sort_values(by=['B', 'C'])

                   A         B         C         D
2013-01-04 -0.323361 -2.266989  0.893536  1.336826
2013-01-05 -0.103744  0.121149 -1.413405  1.276777
2013-01-03  0.522306  0.140140 -2.284374  0.601236
2013-01-06 -0.799433  0.180330  0.135964  1.278895
2013-01-02 -0.121104  0.387867  1.045641 -1.155487
2013-01-01 -0.597531  1.302559  1.175862  0.137185

You can introduce custom sorting by using categoricals.  In this example, first sort the 'G' column on default sorting (alphabetical).  Then redefine the 'G' column as a categorical with a specific sort order. Then re-sort, using the categorical sort order.

In [109]:
df = makecatedf()
print(df)
print(df.sort(columns='G'))
      
gsorter = ['fooz','fooa','foox','foon']
df.G = df.G.astype("category")
df.G.cat.set_categories(gsorter, inplace=True) 
print(df.sort(columns='G'))

   A          B  C  D      E    F     G
0  1 2013-01-02  1  3   test  foo  foox
1  1 2013-01-02  1  3  train  foo  fooa
2  1 2013-01-02  1  3   test  foo  foon
3  1 2013-01-02  1  3  train  foo  fooz
   A          B  C  D      E    F     G
1  1 2013-01-02  1  3  train  foo  fooa
2  1 2013-01-02  1  3   test  foo  foon
0  1 2013-01-02  1  3   test  foo  foox
3  1 2013-01-02  1  3  train  foo  fooz
   A          B  C  D      E    F     G
3  1 2013-01-02  1  3  train  foo  fooz
1  1 2013-01-02  1  3  train  foo  fooa
0  1 2013-01-02  1  3   test  foo  foox
2  1 2013-01-02  1  3   test  foo  foon

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

### Slicing and selecting sub-arrays

While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, use the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix. 

[Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing)  
[MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/version/0.15.2/advanced.html#advanced)

The [pandas site](http://pandas.pydata.org/pandas-docs/stable/indexing.html) offers the following description:

Object selection has had a number of user-requested additions in order to support more explicit location based indexing. pandas now supports three types of multi-axis indexing.

1.    `.ix` supports mixed integer and label based access. It is primarily label based, but will fall back to integer positional access unless the corresponding axis is of integer type. `.ix` is the most general and will support any of the inputs in `.loc` and `.iloc`. `.ix` also supports floating point label schemes. .ix is exceptionally useful when dealing with mixed positional and label based hierarchical indexes.      However, when an axis is integer based, ONLY label based access and not positional access is supported. Thus, in such cases, its usually better to be explicit and use `.iloc` or `.loc`.    
       `.ix` does not and cannot guarantee that the label versus integer position resolution is perfect - you may run into [problems](https://github.com/pydata/pandas/issues/6683)  here.  `.ix` is an older method than than `.loc` and `.iloc` and was introduced to specifically prevent ambiguity by using stricted rules on data selection. `.ix` is faster than than `.loc` and `.iloc`

     See more at [Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced) and [Advanced Hierarchical](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-advanced-hierarchical).

1.    `.loc` is primarily label based, but may also be used with a boolean array. `.loc` will raise `KeyError` when the items are not found. Allowed inputs are:
       * A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index. This use is not an integer position along the index)
       * A list or array of labels ['a', 'b', 'c']
       * A slice object with labels 'a':'f', (note that contrary to usual python slices, **both** the start and the stop are included!)
       * A boolean array

     See more at [Selection by Label](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label)

1.     `.iloc` is primarily integer position based (from `0` to `length-1` of the axis), but may also be used with a boolean array. `.iloc`  will raise `IndexError` if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with python/numpy slice semantics). Allowed inputs are:
       * An integer e.g. 5
       * A list or array of integers [4, 3, 0]
       * A slice object with ints 1:7
       * A boolean array

     See more at [Selection by Position](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)


Getting values from an object with multi-axes selection uses the following notation (using `.loc` as an example, but applies to `.iloc` and `.ix` as well). Any of the axes accessors may be the null slice `:`. Axes left out of the specification are assumed to be `:`. (e.g. `p.loc['a']` is equiv to `p.loc['a', :, :]`)

|Object Type |	Indexers|
|--|--|
|Series 	|`s.loc[indexer]`|
|DataFrame 	|`df.loc[row_indexer,column_indexer]`|
|Panel 	|`p.loc[item_indexer,major_indexer,minor_indexer]`|


<http://nbviewer.ipython.org/github/gboeing/python-cheat-sheets/blob/master/pandas-selecting.ipynb>

### Conventional selection by column/index name

Selecting a single column with the form `df['A']`, yields a Series, equivalent to df.A.  
To select multiple columns  pass a list of column names as in `df[ ['A','B'] ]`.

In [110]:
df = makegridDF()
print(df.A)
print(df['A'])
print(df[['A','B']])

0    1
1    2
2    3
Name: A, dtype: int64
0    1
1    2
2    3
Name: A, dtype: int64
   A  B
0  1  4
1  2  5
2  3  6

Extract the Numpy array from the series in one of these two ways:

In [111]:
print(np.asarray(df['A']))
print(df['A'].values)

[1 2 3]
[1 2 3]

Slice rows using `df[]`, using index values or row numbers.   The row sequence can use slice notation, note that the upper bound is not included.  

This is the same form as used for columns above - somewhat confusing!

In [112]:
df = makeDateRand()
print(df)
print(df[2:4])

                   A         B         C         D
2013-01-01  0.230713 -2.028431  0.874619  0.729737
2013-01-02 -0.620522 -0.368070 -0.454887 -1.974797
2013-01-03 -1.585577 -1.102541 -1.280822 -0.225005
2013-01-04  0.241421  0.544181  0.014725 -0.649130
2013-01-05  0.617364  0.319836  1.542542 -0.440412
2013-01-06 -1.299537  0.021200  0.684304 -1.104845
                   A         B         C         D
2013-01-03 -1.585577 -1.102541 -1.280822 -0.225005
2013-01-04  0.241421  0.544181  0.014725 -0.649130

In [113]:
print(df['2013-01-01':'2013-01-02'])

                   A         B         C         D
2013-01-01  0.230713 -2.028431  0.874619  0.729737
2013-01-02 -0.620522 -0.368070 -0.454887 -1.974797

### [`.ix` Conventional selection by label or position](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing-integer)

You can use `ix` to select slices of the data frame.

In [114]:
df = makeDateRand()
print(df)
print('')
print(df.ix[:, 'D']) # All rows in column D
print(df.ix[0:2, 0:2]) # upper left 2x2 sub-array, not including third [2] column 
print(df.ix[0:2, [0,2,3]]) # multiple columns in list format
print(df.ix[1:3, 'A':'C']) # use range of column names, same effect as above, note 'C' included!!
print(df.ix[2:4, ['A','C']]) # use list of column names
print(df.ix[1:3, 'B':]) # All columns onwards from 'B'
print(df.ix[1:3, :'C']) # All columns up to and including!! C
df.ix[1:3, :'C'] = -1
print(df)

                   A         B         C         D
2013-01-01  0.970821  0.725301  0.062495 -0.668672
2013-01-02  2.845180 -0.969954  1.356355  2.213827
2013-01-03 -2.331300  1.030317 -0.545987  2.601944
2013-01-04  1.486734  0.448199  1.219781  2.116438
2013-01-05  0.527969  0.252503  0.088695 -0.550257
2013-01-06 -1.005098 -0.106809 -1.633279 -0.630038

2013-01-01   -0.668672
2013-01-02    2.213827
2013-01-03    2.601944
2013-01-04    2.116438
2013-01-05   -0.550257
2013-01-06   -0.630038
Freq: D, Name: D, dtype: float64
                   A         B
2013-01-01  0.970821  0.725301
2013-01-02  2.845180 -0.969954
                   A         C         D
2013-01-01  0.970821  0.062495 -0.668672
2013-01-02  2.845180  1.356355  2.213827
                  A         B         C
2013-01-02  2.84518 -0.969954  1.356355
2013-01-03 -2.33130  1.030317 -0.545987
                   A         C
2013-01-03 -2.331300 -0.545987
2013-01-04  1.486734  1.219781
                   B         C         D
2013-01-02 -0.969954  1.356355  2.213827
2013-01-03  1.030317 -0.545987  2.601944
                  A         B         C
2013-01-02  2.84518 -0.969954  1.356355
2013-01-03 -2.33130  1.030317 -0.545987
                   A         B         C         D
2013-01-01  0.970821  0.725301  0.062495 -0.668672
2013-01-02 -1.000000 -1.000000 -1.000000  2.213827
2013-01-03 -1.000000 -1.000000 -1.000000  2.601944
2013-01-04  1.486734  0.448199  1.219781  2.116438
2013-01-05  0.527969  0.252503  0.088695 -0.550257
2013-01-06 -1.005098 -0.106809 -1.633279 -0.630038

To copy discontinuous column ranges takes a bit more effort. First create lists of the required columns

In [115]:
df = makeDateRand()
lst = list(df.columns[0:1]) + list(df.columns[2:3])
print(lst)
df1 = df[lst].copy() # copy was made, use this to get rid of the warning 
df1.ix[2,0] = +1000
print(df1)

df2 = df.ix[:,lst] # ix appears to have made a copy
df2.ix[2,0] = +1000
print(df2)
print(df)

['A', 'C']
                      A         C
2013-01-01    -1.365535  0.784520
2013-01-02    -1.339301  0.056411
2013-01-03  1000.000000  0.067713
2013-01-04     1.129535 -0.649684
2013-01-05     0.244334 -1.028539
2013-01-06     0.467045 -0.345224
                      A         C
2013-01-01    -1.365535  0.784520
2013-01-02    -1.339301  0.056411
2013-01-03  1000.000000  0.067713
2013-01-04     1.129535 -0.649684
2013-01-05     0.244334 -1.028539
2013-01-06     0.467045 -0.345224
                   A         B         C         D
2013-01-01 -1.365535 -1.436922  0.784520  0.622388
2013-01-02 -1.339301 -1.142260  0.056411 -0.437342
2013-01-03  0.602349 -0.900051  0.067713  0.455826
2013-01-04  1.129535  0.317728 -0.649684 -1.262451
2013-01-05  0.244334 -1.766622 -1.028539  0.022285
2013-01-06  0.467045 -2.242893 -0.345224 -0.298472

### [`.loc` Selection by Label](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing-label)

The following example is strange in the sense that is refers to the index by name (see the function where the DataFrame was created), but the index is not named.  Yet, it can/must be used, by using the Series name `dates`. This is probably because pandas  has strong support for time Series.

In [116]:
df = makeDateRand()
dates = df.index
print(df)
print(df.index)
print(df.index.name)
print(df.columns)
print(df.loc[df.index[0]])
print(df.loc[dates[0]])

                   A         B         C         D
2013-01-01  0.783717 -1.024473 -0.473243 -0.009943
2013-01-02 -1.464005 -0.692973  0.563151 -0.271847
2013-01-03  0.616604  1.226241  0.171589 -0.029555
2013-01-04 -1.399271 -0.623041  1.406695 -0.104015
2013-01-05  0.655952 -0.315579 -0.640417 -0.807023
2013-01-06  0.490322 -0.300157 -0.209997  0.027346
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'], dtype='datetime64[ns]', freq='D')
None
Index([u'A', u'B', u'C', u'D'], dtype='object')
A    0.783717
B   -1.024473
C   -0.473243
D   -0.009943
Name: 2013-01-01 00:00:00, dtype: float64
A    0.783717
B   -1.024473
C   -0.473243
D   -0.009943
Name: 2013-01-01 00:00:00, dtype: float64

In this example the row at count=0 is accessed just by the count number.  The index is not named.

In [117]:
df = makegridDF()
print(df)
print(df.index)
print(df.index.name)
print(df.loc[0])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
Int64Index([0, 1, 2], dtype='int64')
None
A     1
B     4
C     7
D    10
Name: 0, dtype: int64

Select all the rows, but only the 'A' and 'B' columns of these rows.

In [118]:
df.loc[:,['A','B']]

   A  B
0  1  4
1  2  5
2  3  6

In the following example a slice is made on both rows and columns.  Note that when using `loc` both endpoints in the row range are returned, but in die `ix` case the upper bound must point to one beyond the end row.

In [119]:
df = makeDateRand()
print(df.loc['20130102':'20130104',['A','B']])
print(df.ix[1:4,['A','B']])

                   A         B
2013-01-02 -0.770521  0.017169
2013-01-03 -0.396916 -0.767315
2013-01-04 -0.767667 -0.442459
                   A         B
2013-01-02 -0.770521  0.017169
2013-01-03 -0.396916 -0.767315
2013-01-04 -0.767667 -0.442459

This example selects a row by using a dynamically generated datetime value.

In [120]:
df = makeDateRand()
df.ix[datetime.datetime(2013,01,02)]

A   -0.011744
B    1.204874
C   -1.287089
D    0.591469
Name: 2013-01-02 00:00:00, dtype: float64

Rows can also be selected by numeric index by using the `irow` method.

In [122]:
df = makeDateRand()
print(df)
print(df.iloc[1])
print(df.iloc[3])

                   A         B         C         D
2013-01-01 -0.282753  0.222111 -0.772736 -3.453785
2013-01-02  0.997722 -1.509821  0.689313  0.468284
2013-01-03  0.332410 -1.301162  0.240950 -1.091008
2013-01-04  1.850212 -0.515625  0.342793 -0.303033
2013-01-05 -3.115955 -0.966705  0.237238  0.968194
2013-01-06  0.062485  1.151312  0.477446 -0.818907
A    0.997722
B   -1.509821
C    0.689313
D    0.468284
Name: 2013-01-02 00:00:00, dtype: float64
A    1.850212
B   -0.515625
C    0.342793
D   -0.303033
Name: 2013-01-04 00:00:00, dtype: float64

This example iterates over all rows, assigning values to each row during iteration.

In [123]:
df = makeDateRand()
print(df.head())
for i,(idx, row) in enumerate(df.iterrows()):
    row['A'] = 2
    df.ix[idx, 'B'] = i
    df.ix[idx]['C'] = np.sqrt(i)
print(df.head())

                   A         B         C         D
2013-01-01 -1.220201 -0.912581 -1.225059 -1.370493
2013-01-02 -0.138869  0.283372  1.354275 -0.273265
2013-01-03 -0.184089  0.084155  0.607951  2.125724
2013-01-04 -0.259107 -0.310463  0.693734  0.639969
2013-01-05  1.627852 -0.832567 -2.272649  0.969410
            A  B         C         D
2013-01-01  2  0  0.000000 -1.370493
2013-01-02  2  1  1.000000 -0.273265
2013-01-03  2  2  1.414214  2.125724
2013-01-04  2  3  1.732051  0.639969
2013-01-05  2  4  2.000000  0.969410

### [`.iloc` Selection by Position](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing-integer)

The `iloc`

In [125]:
df = makeDateRand()
df.iloc[3]

A   -1.304606
B   -0.437829
C    0.894476
D   -1.477803
Name: 2013-01-04 00:00:00, dtype: float64

In [126]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.304606 -0.437829
2013-01-05  0.685036 -0.062328

In [129]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.584870  0.518136
2013-01-03 -1.327986 -1.349871
2013-01-05  0.685036  0.738492

In [130]:
# slicing rows
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.584870 -0.274771  0.518136  1.214177
2013-01-03 -1.327986 -0.568689 -1.349871  1.057308

In [131]:
# slicing columns
df.iloc[:,1:3]

                   B         C
2013-01-01  1.246933 -0.051900
2013-01-02 -0.274771  0.518136
2013-01-03 -0.568689 -1.349871
2013-01-04 -0.437829  0.894476
2013-01-05 -0.062328  0.738492
2013-01-06  0.701411 -1.214182

In [132]:
df.iloc[1,1]

-0.27477095890109704

### Series/DataFrame [enlargement](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#setting-with-enlargement)

The `.loc`/`.ix/[]` operations can perform enlargement when setting a non-existent key for that axis. In the Series case this is effectively an appending operation.

In [133]:
se = pd.Series([1,2,3])
print(se) 
se[5] = 5.
print(se)

0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
5    5
dtype: float64

A DataFrame can be enlarged on either axis via `.loc`

In [134]:
dfi = pd.DataFrame(np.arange(6).reshape(3,2),columns=['A','B'])
print(dfi)
dfi.loc[:,'C'] = dfi.loc[:,'A']
print(dfi)
dfi.loc[3] = 5
print(dfi)

   A  B
0  0  1
1  2  3
2  4  5
   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
3  5  5  5

### Find row where index is nearest to given value

In [135]:
df = makeDateRand()
print(df)
print(df.iloc[np.argmin(np.abs(df.index.to_pydatetime() - datetime.datetime(2013,1,4)))]) # row
print(np.argmin(np.abs(df.index.to_pydatetime() - datetime.datetime(2013,1,4)))) # index

                   A         B         C         D
2013-01-01  0.957613  0.264654  0.634164 -1.485005
2013-01-02 -1.360602  0.098583  2.353688  0.347974
2013-01-03 -0.671884  2.395715  1.111467  1.820011
2013-01-04 -0.208845  0.193329  1.389793  0.962721
2013-01-05 -0.595651  0.508843  1.419281 -0.294926
2013-01-06  1.301456  0.150654 -0.056072  1.658433
A   -0.208845
B    0.193329
C    1.389793
D    0.962721
Name: 2013-01-04 00:00:00, dtype: float64
3

In [136]:
# df = makeRand()
# print(df)
# print(np.abs(df.index - 2)) # row

# row = df.iloc[np.argmin(np.abs(df.index - 2))] # row
# print(type(row))
# print(row)
# print(np.abs(df.index - 2)) # index
# print(np.argmin(np.abs(df.index - 2))) # index

### Find row where column is maximum

In [137]:
df = makeRand()
print(df)
print(df['A'].argmax(df['A'].argmax()))  # index
print(df.iloc[df['A'].argmax(df['A'].argmax())]) #row

          A         B         C         D
0  1.184432  2.730629 -1.629354  1.387881
1 -0.646477 -0.465635 -0.437360  0.424280
2 -2.213829 -0.557251 -1.409780  1.012180
3  1.022586 -0.484032  0.413923 -1.249171
0
A    1.184432
B    2.730629
C   -1.629354
D    1.387881
Name: 0, dtype: float64

### Find row where specific column has nearest value

In [138]:
df = makeRand()
print(df)
value = 0
print(df.iloc[np.argmin(np.abs(df['A'] - value))]) # row
print(np.argmin(np.abs(df['A'] - value))) # index

          A         B         C         D
0 -1.093957  0.223460 -0.543572 -0.156393
1  0.722922  0.423029  1.105608  0.842629
2 -0.718551  2.070397  0.333693  1.534755
3  0.853405  1.966933 -0.588211  0.707923
A   -0.718551
B    2.070397
C    0.333693
D    1.534755
Name: 2, dtype: float64
2

### Boolean indexing and filtering

In [139]:
# filter by single row
df = makeDateRand()
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.822116  0.451671  0.601137 -0.444254
2013-01-03  1.215190 -0.324810  1.354048 -0.746171
2013-01-04  0.643028  0.650781  2.567908 -0.784414
2013-01-05  0.167780 -0.044462  0.837604  0.862347
2013-01-06  1.078613  0.156317  0.447820 -2.028832

In [140]:
# filter by multiple row
df2 = df[(df.A>0) & (df.B>0)]
df2

                   A         B         C         D
2013-01-01  0.822116  0.451671  0.601137 -0.444254
2013-01-04  0.643028  0.650781  2.567908 -0.784414
2013-01-06  1.078613  0.156317  0.447820 -2.028832

In [141]:
# filter specs are pandas time series, which can be manipulated
filt = (df.A>0) & (df.B>0)
print(type(filt), filt)
print('filt.any() = {}'.format(filt.any()))
print('filt.all() = {}'.format(filt.all()))

(<class 'pandas.core.series.Series'>, 2013-01-01     True
2013-01-02    False
2013-01-03    False
2013-01-04     True
2013-01-05    False
2013-01-06     True
Freq: D, dtype: bool)
filt.any() = True
filt.all() = False

In [144]:
# filter by element
df[df > 0]

                   A         B         C         D
2013-01-01  0.822116  0.451671  0.601137       NaN
2013-01-02       NaN       NaN  1.579505  0.412203
2013-01-03  1.215190       NaN  1.354048       NaN
2013-01-04  0.643028  0.650781  2.567908       NaN
2013-01-05  0.167780       NaN  0.837604  0.862347
2013-01-06  1.078613  0.156317  0.447820       NaN

In [145]:
# isin filtering
df2 = df.copy()
df2['E']=['one', 'one','two','three','four','three']
print(df2)
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D      E
2013-01-01  0.822116  0.451671  0.601137 -0.444254    one
2013-01-02 -0.202334 -1.892983  1.579505  0.412203    one
2013-01-03  1.215190 -0.324810  1.354048 -0.746171    two
2013-01-04  0.643028  0.650781  2.567908 -0.784414  three
2013-01-05  0.167780 -0.044462  0.837604  0.862347   four
2013-01-06  1.078613  0.156317  0.447820 -2.028832  three

                  A         B         C         D     E
2013-01-03  1.21519 -0.324810  1.354048 -0.746171   two
2013-01-05  0.16778 -0.044462  0.837604  0.862347  four

In [146]:
# get unique values in a column
df = makefoobar()
print(df)
df.B.unique()

     A      B         C         D
0  foo    one -1.087582 -0.516936
1  bar    one -1.259222  0.081967
2  foo    two -0.755407 -0.764521
3  bar  three  0.383739 -0.586821
4  foo    two -2.096382 -0.855008
5  bar    two  0.339750 -1.076581
6  foo    one -0.004725  1.965727
7  foo  three  1.532280  1.591134

array(['one', 'two', 'three'], dtype=object)

<http://stackoverflow.com/questions/20875140/apply-function-to-sets-of-columns-in-pandas-looping-over-entire-data-frame-co>  

What I want to do is simply to calculate the length of the vector for each header (A and B) in this case, for each index, and divide by the Time column. Hence, this function needs to be np.sqrt(A_x^2 + A_y^2 + A_z^2) and the same for B of course. I.e. I am looking to calculate the velocity for each row, but three columns contribute to one velocity result.

In [147]:
# pandas approach
headers = ['Time', 'A_x', 'A_y', 'A_z', 'B_x', 'B_y', 'B_z']
df = pd.DataFrame(np.random.randn(10,7),index=range(1,11),columns=headers)

# fiter the column names to get a list of the ones you need
print(filter(lambda x: x.startswith("A_"),df.columns))

# get the columns according to names
print(df[filter(lambda x: x.startswith("A_"),df.columns)])

# do the apply dot product for each row across columns
column_initials = ["A","B"]
for column_initial in column_initials:
    df["Velocity_"+column_initial] = \
    df[filter(lambda x: x.startswith(column_initial+"_"),df.columns)].apply(lambda x: np.sqrt(x.dot(x)), axis=1)/df.Time
print(df)

['A_x', 'A_y', 'A_z']
         A_x       A_y       A_z
1   0.353426  0.343385  0.424948
2  -0.501874  0.062246  0.478112
3   0.138896 -0.755615  0.481587
4   0.739715  1.033263 -0.480397
5  -0.739044  1.439570 -0.785616
6  -0.513817  1.642495  0.105571
7  -0.836789 -0.688965  1.555279
8  -0.840981  0.892179  0.165694
9  -1.548636  0.029720  1.536503
10  1.505807  1.967152 -0.037684
        Time       A_x       A_y       A_z       B_x       B_y       B_z  Velocity_A  Velocity_B
1  -1.499207  0.353426  0.343385  0.424948 -0.566311 -0.481274 -0.654467   -0.434026   -0.660537
2  -0.096971 -0.501874  0.062246  0.478112  0.374161 -0.637188 -0.213568   -7.176858   -7.931905
3   0.003627  0.138896 -0.755615  0.481587  0.741315 -0.047051  0.570068  250.025054  258.188754
4   0.486801  0.739715  1.033263 -0.480397  0.641635  0.796963 -1.658714    2.790720    4.003465
5  -0.192680 -0.739044  1.439570 -0.785616 -0.765239 -0.240194 -1.138251   -9.335770   -7.226715
6  -1.808662 -0.513817  1.642495  0.105571 -1.330420  0.318219 -1.271814   -0.953313   -1.032714
7   2.238937 -0.836789 -0.688965  1.555279 -0.383533  0.150563  0.423150    0.846709    0.263791
8   0.149884 -0.840981  0.892179  0.165694 -1.139309  0.833262  1.862829    8.254430   15.593331
9  -0.443530 -1.548636  0.029720  1.536503  1.468104 -0.722314 -1.134075   -4.919037   -4.488480
10  1.625606  1.505807  1.967152 -0.037684 -1.472981  0.319382  0.844737    1.524116    1.062859

In [148]:
# numpy approach
headers = ['Time', 'A_x', 'A_y', 'A_z', 'B_x', 'B_y', 'B_z']
df = pd.DataFrame(np.random.randn(10,7),index=range(1,11),columns=headers)

arr = df.values
times = arr[:,0]
arr = arr[:,1:]
result = np.sqrt((arr**2).reshape(arr.shape[0],-1,3).sum(axis=-1))/times[:,None]
result = pd.DataFrame(result, columns=['Velocity_%s'%(x,) for x in list('AB')])
print(result)

   Velocity_A  Velocity_B
0   -8.085673   -4.710450
1   -1.421112   -1.195982
2   57.151328   59.548965
3   -3.682149   -1.710949
4    1.864047    1.845615
5   -4.356346   -3.077169
6   -5.428596   -7.162811
7    1.042122    0.765445
8   -1.675783   -2.058840
9   16.093548   11.206235

In [149]:
# yet another approach
headers = ['Time', 'A_x', 'A_y', 'A_z', 'B_x', 'B_y', 'B_z']
df = pd.DataFrame(np.random.randn(10,7),index=range(1,11),columns=headers)

result = df\
    .loc[:, df.columns!='Time']\
    .groupby(lambda x: x[0], axis=1)\
    .apply(lambda x: np.sqrt((x**2).sum(1)))\
    .apply(lambda x: x / df['Time'])

print(result)

            A          B
1    3.348204   1.310580
2    4.586489   1.483035
3   -2.899462  -5.729715
4    2.026191   0.833350
5  -11.695864 -43.259679
6    8.583370   8.061852
7    1.599750   5.130656
8   -9.687711 -12.670778
9    2.360350   4.944775
10  -6.119537  -6.632625

### Setting data

In [150]:
# Adding the sum along a column
df = makeDateRand()
df['A'].sum(), df['B'].sum(), df['C'].sum(),

(-0.48970550664575696, 1.2491964813399699, 0.9539171364559569)

In [151]:
df = makeDateRand()
df['Total'] = df['A'] + df['B'] + df['C']
print(df)

                   A         B         C         D     Total
2013-01-01 -0.803083  1.630430 -2.550204 -0.993119 -1.722857
2013-01-02 -0.190795 -0.064689 -0.565107 -1.049063 -0.820591
2013-01-03  1.390111  0.076018  0.250876 -0.238590  1.717006
2013-01-04  0.912563  0.311738 -1.103789  1.008107  0.120512
2013-01-05 -0.798141 -1.034420  1.408666  0.962294 -0.423895
2013-01-06 -0.728085  0.745529  0.457288 -0.162601  0.474731

In [152]:
sum_row = df[['A','B','Total']].sum()
sum_row

A       -0.217431
B        1.664606
Total   -0.655095
dtype: float64

We need to transpose the data and convert the Series to a DataFrame so that it is easier to concat onto our existing data. The T function allows us to switch the data from being row-based to column-based.

In [153]:
df_sum=pd.DataFrame(data=sum_row).T
df_sum

          A         B     Total
0 -0.217431  1.664606 -0.655095

The final thing we need to do before adding the totals back is to add the missing columns. We use reindex to do this for us. The trick is to add all of our columns and then allow pandas to fill in the values that are missing.

In [154]:
df_sum=df_sum.reindex(columns=df.columns)
df_sum

          A         B   C   D     Total
0 -0.217431  1.664606 NaN NaN -0.655095

Now append the totals to the end of the dataframe, rename the index value to use the word 'Total'.

In [155]:
df=df.append(df_sum,ignore_index=True)
df.index = df.index.tolist()[:-1]   + ['Total']
df.tail()

              A         B         C         D     Total
2      1.390111  0.076018  0.250876 -0.238590  1.717006
3      0.912563  0.311738 -1.103789  1.008107  0.120512
4     -0.798141 -1.034420  1.408666  0.962294 -0.423895
5     -0.728085  0.745529  0.457288 -0.162601  0.474731
Total -0.217431  1.664606       NaN       NaN -0.655095

Setting a new column automatically aligns the data by the indexes

In [156]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))
df2['F'] = s1
df2

                   A         B         C         D      E   F
2013-01-01  0.822116  0.451671  0.601137 -0.444254    one NaN
2013-01-02 -0.202334 -1.892983  1.579505  0.412203    one   1
2013-01-03  1.215190 -0.324810  1.354048 -0.746171    two   2
2013-01-04  0.643028  0.650781  2.567908 -0.784414  three   3
2013-01-05  0.167780 -0.044462  0.837604  0.862347   four   4
2013-01-06  1.078613  0.156317  0.447820 -2.028832  three   5

In [157]:
# Setting values by label
dates = df.index
df.at[dates[0],'A'] = 0
df

              A         B         C         D     Total
0      0.000000  1.630430 -2.550204 -0.993119 -1.722857
1     -0.190795 -0.064689 -0.565107 -1.049063 -0.820591
2      1.390111  0.076018  0.250876 -0.238590  1.717006
3      0.912563  0.311738 -1.103789  1.008107  0.120512
4     -0.798141 -1.034420  1.408666  0.962294 -0.423895
5     -0.728085  0.745529  0.457288 -0.162601  0.474731
Total -0.217431  1.664606       NaN       NaN -0.655095

In [158]:
# Setting values by position
df.iat[0,1] = 7
df

              A         B         C         D     Total
0      0.000000  7.000000 -2.550204 -0.993119 -1.722857
1     -0.190795 -0.064689 -0.565107 -1.049063 -0.820591
2      1.390111  0.076018  0.250876 -0.238590  1.717006
3      0.912563  0.311738 -1.103789  1.008107  0.120512
4     -0.798141 -1.034420  1.408666  0.962294 -0.423895
5     -0.728085  0.745529  0.457288 -0.162601  0.474731
Total -0.217431  1.664606       NaN       NaN -0.655095

In [159]:
# Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5] * len(df))
df

              A         B         C  D     Total
0      0.000000  7.000000 -2.550204  5 -1.722857
1     -0.190795 -0.064689 -0.565107  5 -0.820591
2      1.390111  0.076018  0.250876  5  1.717006
3      0.912563  0.311738 -1.103789  5  0.120512
4     -0.798141 -1.034420  1.408666  5 -0.423895
5     -0.728085  0.745529  0.457288  5  0.474731
Total -0.217431  1.664606       NaN  5 -0.655095

In [160]:
# A where operation with setting.
df = makeDateRand()
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C         D
2013-01-01 -0.270163 -0.470769 -0.989912 -0.777501
2013-01-02 -0.939444 -0.676623 -2.468818 -0.366726
2013-01-03 -1.136079 -0.653824 -0.173331 -2.482057
2013-01-04 -1.130746 -0.409417 -0.211796 -2.392253
2013-01-05 -0.048339 -0.892658 -0.727786 -1.042640
2013-01-06 -0.382305 -0.356607 -0.161060 -0.069750

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the [Missing Data section](http://pandas.pydata.org/pandas-docs/version/0.15.2/missing_data.html#missing-data)

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [161]:
df = makeDateRand()
dates = df.index
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])
print(df1)
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)

                   A         B         C         D   E
2013-01-01  1.396271 -1.009167 -1.902561  0.398415 NaN
2013-01-02 -1.891442 -0.558851  1.285885  1.249990 NaN
2013-01-03 -0.664654  0.983520 -1.022276  0.431978 NaN
2013-01-04 -1.267316  1.364141  1.497428 -0.823267 NaN
                   A         B         C         D   E
2013-01-01  1.396271 -1.009167 -1.902561  0.398415   1
2013-01-02 -1.891442 -0.558851  1.285885  1.249990   1
2013-01-03 -0.664654  0.983520 -1.022276  0.431978 NaN
2013-01-04 -1.267316  1.364141  1.497428 -0.823267 NaN

To drop any rows that have missing data.

In [162]:
df1.dropna(how='any')

                   A         B         C         D  E
2013-01-01  1.396271 -1.009167 -1.902561  0.398415  1
2013-01-02 -1.891442 -0.558851  1.285885  1.249990  1

Filling missing data

In [163]:
df1.fillna(value=5)

                   A         B         C         D  E
2013-01-01  1.396271 -1.009167 -1.902561  0.398415  1
2013-01-02 -1.891442 -0.558851  1.285885  1.249990  1
2013-01-03 -0.664654  0.983520 -1.022276  0.431978  5
2013-01-04 -1.267316  1.364141  1.497428 -0.823267  5

To get the boolean mask where values are nan

In [164]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

## Operations
### Binary operations

See the Basic section on [Binary Ops](http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#basics-binop)  

Operations in general exclude missing data.

In [165]:
df.mean()

A   -0.366157
B    0.055892
C   -0.100820
D   -0.017143
dtype: float64

In [166]:
#along the other axis
df.mean(1)

2013-01-01   -0.279261
2013-01-02    0.021396
2013-01-03   -0.067858
2013-01-04    0.192746
2013-01-05   -0.309770
2013-01-06   -0.199595
Freq: D, dtype: float64

### Applying functions to the data

When using apply(), note the axis direction.   
- for each column, apply down a row: axis=0  (default)
- for each row, apply across columns: axis=1.

In [167]:
df = makegridDF()
print(df)
print(df.apply(np.cumsum))
print(df.apply(np.cumsum, axis=0))
print(df.apply(np.cumsum, axis=1))

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A   B   C   D
0  1   4   7  10
1  3   9  15  21
2  6  15  24  33
   A   B   C   D
0  1   4   7  10
1  3   9  15  21
2  6  15  24  33
   A  B   C   D
0  1  5  12  22
1  2  7  15  26
2  3  9  18  30

In [168]:
df = makeDateRand()
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.555955  0.871193 -1.044914  1.285684
2013-01-02 -1.321182  2.978534 -1.527163  0.570438
2013-01-03 -1.665167  3.303278 -2.924334 -1.044854
2013-01-04 -3.208022  2.874894 -2.549979  0.913948
2013-01-05 -0.423891  0.975875 -2.332486 -0.060352
2013-01-06 -0.624086  1.612303 -0.560841 -1.117945

In [169]:
df = makeDateRand()
print(df)
df.apply(lambda x: x.max() - x.min())

                   A         B         C         D
2013-01-01  1.049868  0.396783  0.964495  0.079702
2013-01-02 -0.613235  0.876957 -0.643363  0.563316
2013-01-03  1.979208 -0.889568 -0.964785 -0.686758
2013-01-04 -0.578865 -0.377436  1.641485  0.378992
2013-01-05  1.114884  1.762169  1.261369  1.506824
2013-01-06  0.625264 -0.303023  0.189072  0.167740

A    2.592443
B    2.651737
C    2.606270
D    2.193581
dtype: float64

In [171]:
from datetime import datetime
df = makeDateRand()
df.index.name = 'Date'
df.reset_index(level=0,inplace=True)
print(df)
# convert to string format
df.Date = df.Date.apply(lambda d: ' '.join(d.isoformat().split('T')))
print(df)
# convert back to datetime format
df.Date = df.Date.apply(lambda d: datetime.strptime(d, "%Y-%m-%d %H:%M:%S"))
print(df)

df.index = df.Date
print(df)

        Date         A         B         C         D
0 2013-01-01 -0.717594  0.874663 -1.517702  1.733586
1 2013-01-02 -0.330109 -1.804422  0.893500 -1.043937
2 2013-01-03  0.293907 -1.155582  2.168778 -1.010188
3 2013-01-04 -1.279617  0.783267 -1.076567  0.571995
4 2013-01-05 -0.197516  0.064933 -0.602517 -0.140998
5 2013-01-06  0.986402 -0.752680 -1.599656  0.569776
                  Date         A         B         C         D
0  2013-01-01 00:00:00 -0.717594  0.874663 -1.517702  1.733586
1  2013-01-02 00:00:00 -0.330109 -1.804422  0.893500 -1.043937
2  2013-01-03 00:00:00  0.293907 -1.155582  2.168778 -1.010188
3  2013-01-04 00:00:00 -1.279617  0.783267 -1.076567  0.571995
4  2013-01-05 00:00:00 -0.197516  0.064933 -0.602517 -0.140998
5  2013-01-06 00:00:00  0.986402 -0.752680 -1.599656  0.569776
        Date         A         B         C         D
0 2013-01-01 -0.717594  0.874663 -1.517702  1.733586
1 2013-01-02 -0.330109 -1.804422  0.893500 -1.043937
2 2013-01-03  0.293907 -1.155582  2.168778 -1.010188
3 2013-01-04 -1.279617  0.783267 -1.076567  0.571995
4 2013-01-05 -0.197516  0.064933 -0.602517 -0.140998
5 2013-01-06  0.986402 -0.752680 -1.599656  0.569776
                 Date         A         B         C         D
Date
2013-01-01 2013-01-01 -0.717594  0.874663 -1.517702  1.733586
2013-01-02 2013-01-02 -0.330109 -1.804422  0.893500 -1.043937
2013-01-03 2013-01-03  0.293907 -1.155582  2.168778 -1.010188
2013-01-04 2013-01-04 -1.279617  0.783267 -1.076567  0.571995
2013-01-05 2013-01-05 -0.197516  0.064933 -0.602517 -0.140998
2013-01-06 2013-01-06  0.986402 -0.752680 -1.599656  0.569776

Applying a function using column data, but with extra parameters.  In the example below we use a value in a single DataFrame column 'IrradianceLux', together with extra parameters, to calculate a new row.

http://stackoverflow.com/questions/21188504/python-pandas-apply-a-function-with-arguments-to-a-series-update

In [172]:
import pandas as pd
lx = {'Sunlight': 107527, 
      'Full daylight': 10752,
      'Overcast day':1075,
      'Very dark day':107,
      'Twilight': 10.8,
      'Deep twilight': 1.08,
      'Full moon': 0.108,
      'Quarter moon':0.0108,
      'Starlight': 0.0011,
      'Overcastnight':0.0001
    }
fnos = [1.4, 2, 2.74, 3.8, 5.4, 7.5
       ]

def calcIrrad(lx, rho, taua, tauo, fno):
    return lx * rho * taua * tauo / (4 * fno ** 2)
    
df = pd.DataFrame(list(lx.items()), columns=['Condition','IrradianceLux'])

rho = 0.3
taua = 0.5
tauo = 0.9
for fno in fnos:
    df['{}'.format(fno)] = df.IrradianceLux.apply(calcIrrad, args=(rho, taua, tauo, fno) )
    
df.sort_values(by='IrradianceLux')

       Condition  IrradianceLux          1.4             2          2.74           3.8           5.4           7.5
8  Overcastnight         0.0001     0.000002  8.437500e-07  4.495445e-07  2.337258e-07  1.157407e-07  6.000000e-08
2      Starlight         0.0011     0.000019  9.281250e-06  4.944989e-06  2.570983e-06  1.273148e-06  6.600000e-07
4   Quarter moon         0.0108     0.000186  9.112500e-05  4.855080e-05  2.524238e-05  1.250000e-05  6.480000e-06
6      Full moon         0.1080     0.001860  9.112500e-04  4.855080e-04  2.524238e-04  1.250000e-04  6.480000e-05
3  Deep twilight         1.0800     0.018597  9.112500e-03  4.855080e-03  2.524238e-03  1.250000e-03  6.480000e-04
7       Twilight        10.8000     0.185969  9.112500e-02  4.855080e-02  2.524238e-02  1.250000e-02  6.480000e-03
1  Very dark day       107.0000     1.842474  9.028125e-01  4.810126e-01  2.500866e-01  1.238426e-01  6.420000e-02
0   Overcast day      1075.0000    18.510842  9.070312e+00  4.832603e+00  2.512552e+00  1.244213e+00  6.450000e-01
5  Full daylight     10752.0000   185.142857  9.072000e+01  4.833502e+01  2.513019e+01  1.244444e+01  6.451200e+00
9       Sunlight    107527.0000  1851.549107  9.072591e+02  4.833817e+02  2.513183e+02  1.244525e+02  6.451620e+01

Apply a function to existing columns to create a new column

In [173]:
def fx(x, y):
    return x*y

import numpy as np
import pandas as pd
df = pd.DataFrame({"A": [10,20,30], "B": [20, 30, 10]})
df['nocols'] = np.vectorize(fx)(4, 5)
df['new_column'] = np.vectorize(fx)(df['A'], df['B'])
df

    A   B  nocols  new_column
0  10  20      20         200
1  20  30      20         600
2  30  10      20         300

Apply a named function on multiple columns and scalar arguments

In [2]:
import pandas as pd 
data = {'gene':['a','b','c','d','e'],
        'count':[61,320,34,14,33],
        'gene_length':[152,86,92,170,111]}
df = pd.DataFrame(data)
df = df[["gene","count","gene_length"]]

def calculate_RPKM(theC,theN, theL):
    """
    theC  == Total reads mapped to a feature (gene/linc)
    theL  == Length of feature (gene/linc)
    theN  == Total reads mapped
    """
    rpkm = ((10**9) * theC)/(theN * theL)
    return rpkm
N=12345
df["rpkm"] = calculate_RPKM(df['count'],N,df['gene_length'])
df

  gene  count  gene_length           rpkm
0    a     61          152   32508.366908
1    b    320           86  301411.926493
2    c     34           92   29936.429112
3    d     14          170    6670.955138
4    e     33          111   24082.405613

In [5]:
def my_test2(row):
     return row['gene_length'] % row['count']
df['Value'] = df.apply(my_test2, axis=1)
print(df)

  gene  count  gene_length           rpkm  Value
0    a     61          152   32508.366908     30
1    b    320           86  301411.926493     86
2    c     34           92   29936.429112     24
3    d     14          170    6670.955138      2
4    e     33          111   24082.405613     12

Use apply to return multiple columns

<http://stackoverflow.com/questions/16236684/apply-pandas-function-to-column-to-create-multiple-new-columns>

In [175]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'textcol' : np.random.rand(5)})
df.merge(df.textcol.apply(lambda s: pd.Series({'feature1':s+1, 'feature2':s-1})), 
    left_index=True, right_index=True)

    textcol  feature1  feature2
0  0.339844  1.339844 -0.660156
1  0.154391  1.154391 -0.845609
2  0.530604  1.530604 -0.469396
3  0.977943  1.977943 -0.022057
4  0.604238  1.604238 -0.395762

Return multiple columns, operating on a single column, with additional arguments

In [176]:
def myfunc(s,a1, a2):
    return pd.Series({'feature1':s+a1, 'feature2':s+a2})
    
df = pd.DataFrame({'textcol' : np.random.rand(5)})
df.merge(df.textcol.apply(myfunc,args=(+2, -5)), 
    left_index=True, right_index=True)

    textcol  feature1  feature2
0  0.281816  2.281816 -4.718184
1  0.109300  2.109300 -4.890700
2  0.495643  2.495643 -4.504357
3  0.161521  2.161521 -4.838479
4  0.850803  2.850803 -4.149197

The following example calculates the angle between two normal vectors, where the two vectors are given in separate tables. The common value whereby the two tables are joined is given in the 'Key' column in each of the tables.

In [177]:
from numpy import linalg as LA

def normCols(df, lst):
    """Normalise the columns in df, as listed in lst"""
    #get the vector length
    df['norm'] = (LA.norm(df[lst],axis=1))
    #normalise cols in list and return
    df[lst] = df[lst].divide(df['norm'], axis=0)
    df.drop('norm',axis=1,inplace=True)
    #value seems to be returned in the df parameter passed on the function call
    return 

# create the data: [key, x, y, z]
lstA = [['a',1,0,0],['b',1,0,0],['c', 1,0,0],['d',-4.164548,2.835452,0.835452],['e',-4.164548,2.835452,0.835452]]
lstB = [['a',1,0,0],['b',0,1,0],['c',-1,0,0],['d',-4.164548,2.835452,0.835452],['e',-3.164548,1.835452,2.835452]]

# make dataframes
vec = ['x','y','z']
cols = ['Key'] + vec
dfA = pd.DataFrame(lstA,columns=cols)
dfB = pd.DataFrame(lstB,columns=cols)

# normalise vectors
normCols(dfA, vec)
normCols(dfB, vec)

# join the two vectors on the Key column
dfA.reset_index(inplace=True)
dfB.reset_index(inplace=True)
suffixes = ['a','b'] # used in labelling duplicate column names
dfM = pd.merge(dfA, dfB, left_on=['Key'],right_on=['Key'], how='inner', suffixes=suffixes)  

# calc angle between vectors
va = ['xa','ya','za']
vb = ['xb','yb','zb']
# inner() calculates Va x Vb.T, on which the diagonal() is 
# the dot product of the respective rowA and rowB.T vectors
dfM['angle'] = np.arccos(np.diagonal(np.inner(dfM[va],dfM[vb])))

print(dfM)

   indexa Key        xa        ya       za  indexb        xb        yb        zb     angle
0       0   a  1.000000  0.000000  0.00000       0  1.000000  0.000000  0.000000  1.570796
1       1   b  1.000000  0.000000  0.00000       1  0.000000  1.000000  0.000000       NaN
2       2   c  1.000000  0.000000  0.00000       2 -1.000000  0.000000  0.000000  1.257433
3       3   d -0.815462  0.555211  0.16359       3 -0.815462  0.555211  0.163590  1.348806
4       4   e -0.815462  0.555211  0.16359       4 -0.683709  0.396554  0.612607  1.443474

In [178]:
a=np.array([[1,2],[3,4]])
b=np.array([[11,12],[13,14]])
print(a)
print(b.T)
# print(np.dot(a,b))
print(np.inner(a,b))

[[1 2]
 [3 4]]
[[11 13]
 [12 14]]
[[35 41]
 [81 95]]

### Histograms

[Histogramming and Discretization](http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#basics-discretization)

In [179]:
s = pd.Series(np.random.randint(0,7,size=10))
s.value_counts()

0    3
3    2
2    2
6    1
5    1
4    1
dtype: int64

### Strings
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](http://pandas.pydata.org/pandas-docs/version/0.15.2/text.html#text-string-methods).

In [180]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()
s.str.upper()
s.str.len()

0     1
1     1
2     1
3     4
4     4
5   NaN
6     4
7     3
8     3
dtype: float64

In [181]:
# Methods like split return a Series of lists:
s2 = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])
s2.str.split('_')

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [182]:
s2.str.split('_').str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [183]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan,'CABA', 'dog', 'cat'])
s.str[1]

0    NaN
1    NaN
2    NaN
3      a
4      a
5    NaN
6      A
7      o
8      a
dtype: object

You can use [] notation to directly index by position locations. If you index past the end of the string, the result will be a NaN.

In [184]:
# Easy to expand this to return a DataFrame
s2.str.split('_').apply(pd.Series)

     0    1    2
0    a    b    c
1    c    d    e
2  NaN  NaN  NaN
3    f    g    h

Methods like replace and findall take regular expressions, too:

In [185]:
s3 = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca','', np.nan, 'CABA', 'dog', 'cat'])
s3.str.replace('^.a|dog', 'XX-XX ', case=False)

0           A
1           B
2           C
3    XX-XX ba
4    XX-XX ca
5
6         NaN
7    XX-XX BA
8      XX-XX
9     XX-XX t
dtype: object

### Grouping
By group by we are referring to a process involving one or more of the following steps  

- Splitting the data into groups based on some criteria  
- Applying a function to each group independently    
- Combining the results into a data structure   

[grouping](http://pandas.pydata.org/pandas-docs/version/0.15.2/groupby.html#groupby)

In [186]:
df = makefoobar()
df

     A      B         C         D
0  foo    one -0.943190  0.435351
1  bar    one -0.860679  1.657635
2  foo    two -0.841346 -0.295926
3  bar  three -0.536705  0.311769
4  foo    two -0.563686 -1.365462
5  bar    two -0.735477  0.470301
6  foo    one -0.384659  0.201952
7  foo  three  0.356941  1.142567

Grouping and then applying a function sum to the resulting groups.

In [187]:
df.groupby('A').sum()

            C         D
A
bar -2.132861  2.439706
foo -2.375940  0.118482

In [188]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.860679  1.657635
    three -0.536705  0.311769
    two   -0.735477  0.470301
foo one   -1.327849  0.637304
    three  0.356941  1.142567
    two   -1.405032 -1.661388

In [189]:
df = makefoobar()
print(df)
cnts = {}
#first value is group column value, seond value is the members in the group
for grp, grp_data in df.groupby("B"):
    cnts[grp] = grp_data.C.mean()  
cnts

     A      B         C         D
0  foo    one  0.360036  0.115817
1  bar    one -1.261815  1.239442
2  foo    two -1.115109 -2.255499
3  bar  three -0.237453 -0.667440
4  foo    two -1.055000  0.016243
5  bar    two -0.299531 -0.109096
6  foo    one  0.651732  0.585331
7  foo  three -1.555361  1.181303

{'one': -0.08334900001451555,
 'three': -0.8964069233520748,
 'two': -0.823213384270459}

### Reshaping

[Hierarchical Indexing](http://pandas.pydata.org/pandas-docs/version/0.15.2/advanced.html#advanced-hierarchical) and [Reshaping](http://pandas.pydata.org/pandas-docs/version/0.15.2/reshaping.html#reshaping-stacking).

In [190]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]

                     A         B
first second
bar   one    -0.478486 -0.602451
      two     0.144670  0.348400
baz   one    -0.418458 -1.502814
      two     1.134290 -1.509121

The stack function compresses a level in the DataFrames columns.

In [191]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.478486
               B   -0.602451
       two     A    0.144670
               B    0.348400
baz    one     A   -0.418458
               B   -1.502814
       two     A    1.134290
               B   -1.509121
dtype: float64

With a stacked DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack is unstack, which by default unstacks the last level:

In [192]:
stacked.unstack()

                     A         B
first second
bar   one    -0.478486 -0.602451
      two     0.144670  0.348400
baz   one    -0.418458 -1.502814
      two     1.134290 -1.509121

In [193]:
stacked.unstack(1)

second        one       two
first
bar   A -0.478486  0.144670
      B -0.602451  0.348400
baz   A -0.418458  1.134290
      B -1.502814 -1.509121

In [194]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.478486 -0.418458
       B -0.602451 -1.502814
two    A  0.144670  1.134290
       B  0.348400 -1.509121

## Categoricals
see the [categorical introduction](http://pandas.pydata.org/pandas-docs/version/0.15.2/categorical.html#categorical) and the [API documentation](http://pandas.pydata.org/pandas-docs/version/0.15.2/api.html#api-categorical).

In [195]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
# Convert the raw grades to a categorical data type.
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

Rename the categories to more meaningful names (assigning to Series.cat.categories is in place!) Reorder the categories and simultaneously add the missing categories (methods under Series .cat return a new Series per default).

In [196]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [197]:
# Sorting is per order in the categories, not lexical order.
# df.sort_values(by="grade")

In [198]:
# Grouping by a categorical column shows also empty categories.
# df.groupby("grade").size()

## Pivot tables
See the section on [Pivot Tables](http://pandas.pydata.org/pandas-docs/version/0.15.2/reshaping.html#reshaping-pivot).

In [199]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.220359 -1.003660
1     one  B  foo -0.261223  0.001982
2     two  C  foo -0.115410  0.444757
3   three  A  bar  1.159363 -0.067795
4     one  B  bar  1.448061 -1.540093
..    ... ..  ...       ...       ...
7   three  B  foo -0.163161  0.268626
8     one  C  foo -0.546919  0.368655
9     one  A  bar -1.380280  1.166945
10    two  B  bar -0.077646  0.684082
11  three  C  bar -0.720456  0.226406

[12 rows x 5 columns]

In [200]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -1.380280 -0.220359
      B  1.448061 -0.261223
      C -0.755991 -0.546919
three A  1.159363       NaN
      B       NaN -0.163161
      C -0.720456       NaN
two   A       NaN -0.176365
      B -0.077646       NaN
      C       NaN -0.115410

Reconstruct the sampled presented in the pages at [Pandas Pivot Table Explained ](http://pbpython.com/pandas-pivot-table-explained.html) and [Generating Excel Reports from a Pandas Pivot Table ](http://pbpython.com/pandas-pivot-report.html).  

First load the data and set the Status column as a pandas `category` and set the viewing order. Set the `Name` as table index.

In [201]:
df = pd.read_excel("./data/sales-funnel.xlsx")
df["Status"] = df["Status"].astype("category")
df["Status"].cat.set_categories(["won","pending","presented","declined"],inplace=True)
print(df.head(4))

print(pd.pivot_table(df,index=["Name"]))

   Account                          Name           Rep       Manager      Product  Quantity  Price     Status
0   714466               Trantow-Barrows  Craig Booker  Debra Henley          CPU         1  30000  presented
1   714466               Trantow-Barrows  Craig Booker  Debra Henley     Software         1  10000  presented
2   714466               Trantow-Barrows  Craig Booker  Debra Henley  Maintenance         2   5000    pending
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley          CPU         1  35000   declined
                              Account  Price  Quantity
Name
Barton LLC                     740150  35000  1.000000
Fritsch, Russel and Anderson   737550  35000  1.000000
Herman LLC                     141962  65000  2.000000
Jerde-Hilpert                  412290   5000  2.000000
Kassulke, Ondricka and Metz    307599   7000  3.000000
...                               ...    ...       ...
Koepp Ltd                      729833  35000  2.000000
Kulas Inc                      218895  25000  1.500000
Purdy-Kunde                    163416  30000  1.000000
Stokes LLC                     239344   7500  1.000000
Trantow-Barrows                714466  15000  1.333333

[12 rows x 3 columns]

### Itertools and pivot_table

http://stackoverflow.com/questions/16994485/ensuring-the-cartesian-product-of-keys-appears-in-a-pandas-table

In [24]:
import pandas as pd
import numpy as np
from itertools import product

df=pd.DataFrame(dict(fruit=['apple','banana','banana','lemon'],
                     veg=['carrot','carrot','lettuce','lettuce'],
                     combo=['tasty','yucky','tasty','yucky']))
print(df, end='\n')

fruit_x_veg = list(product(np.unique(df['fruit']), np.unique(df['veg'])))
fruit_x_veg = pd.MultiIndex.from_tuples(fruit_x_veg, names=['fruit', 'veg'])
print(fruit_x_veg)
df1 = df.set_index(['fruit', 'veg'])
print(df1, end='\n')

df1.reindex(fruit_x_veg, fill_value='UNKNOWN')
print(df1)


p = pd.MultiIndex.from_product(df1.index.levels, names=df1.index.names)
print(p)

df1.reindex(p, fill_value='UNKNOWN')

print(df1)

   combo   fruit      veg
0  tasty   apple   carrot
1  yucky  banana   carrot
2  tasty  banana  lettuce
3  yucky   lemon  lettuce
MultiIndex(levels=[[u'apple', u'banana', u'lemon'], [u'carrot', u'lettuce']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=[u'fruit', u'veg'])
                combo
fruit  veg
apple  carrot   tasty
banana carrot   yucky
       lettuce  tasty
lemon  lettuce  yucky
                combo
fruit  veg
apple  carrot   tasty
banana carrot   yucky
       lettuce  tasty
lemon  lettuce  yucky
MultiIndex(levels=[[u'apple', u'banana', u'lemon'], [u'carrot', u'lettuce']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=[u'fruit', u'veg'])
                combo
fruit  veg
apple  carrot   tasty
banana carrot   yucky
       lettuce  tasty
lemon  lettuce  yucky

In [25]:
import itertools
import scipy.constants as const

def kTCnoiseGv(temptr, gv):
    return np.sqrt(const.k * temptr / (const.e * gv))

gvs = [50e-6, 100e-6, 150e-6]
temps = [300, 400]
grid = itertools.product(gvs, temps)
df = pd.DataFrame()
for (gv,temp) in list(grid):
    df = df.append(pd.DataFrame({'gv':[gv],'temp':[temp]}),ignore_index=True)
df['nc'] = kTCnoiseGv(df.temp, df.gv)
print('kTC noise in electrons:')
print(df.pivot_table(values='nc',index=['gv'],columns=['temp']))

kTC noise in electrons:
temp           300        400
gv
0.00005  22.738510  26.256169
0.00010  16.078554  18.565915
0.00015  13.128085  15.159006

## Comparing and Gotchas

<http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#basics-compare>  
<http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#boolean-reductions>   

pandas follows the numpy convention of raising an error when you try to convert something to a bool. This happens in a if or when using the boolean operations, and, or, or not.  
<http://pandas.pydata.org/pandas-docs/version/0.15.2/gotchas.html#gotchas>

# Date and time

In [181]:
# print('0')
# TMY = pd.DataFrame([0,1],index=['1981-01-01T10:00:00.000000000+0200', '1981-01-01T11:00:00.000000000+0200'])
# print(TMY)
# print('1')
# print(type(TMY.index.to_datetime().values))
# print(TMY.index.to_datetime().values)
# print('2')
# print(type(TMY.index.astype(np.int64)))
# print(TMY.index.astype(np.int64) // 10**9)  #timestamp is unix time with nanoseconds
# print('3')
# print(type(pd.to_datetime(TMY.index.astype(np.int64))))
# print(pd.to_datetime(TMY.index.astype(np.int64)))  #timestamp is unix time with nanoseconds

# LaTeX

A DataFrame can be rendered to a `<IPython.core.display.Latex object>`, using [`to_latex()'](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_latex.html). This object is shown as text in the output cell, but can be rendered as raw  LaTeX by a capable converter such as [ipynb2tex](https://github.com/NelisW/ipynb2tex)

In [15]:
df = makeDateRand(nrows=6, ncols=4)
lstr = df.to_latex()
from IPython.display import Latex
Latex(lstr)

## Python and [module versions, and dates](http://nbviewer.ipython.org/github/jrjohansson/scientific-python-lectures/blob/master/Lecture-0-Scientific-Computing-with-Python.ipynb)

In [182]:
%load_ext version_information
%version_information pandas, numpy, scipy, matplotlib, pyradi

The version_information extension is already loaded. To reload it, use:
  %reload_ext version_information

Software versions
Python 2.7.10 64bit [MSC v.1500 64 bit (AMD64)]
IPython 4.0.0
OS Windows 7 6.1.7601 SP1
pandas 0.17.0
numpy 1.10.1
scipy 0.16.0
matplotlib 1.4.3
pyradi 0.2.1
Fri Nov 27 08:14:52 2015 South Africa Standard Time