# Pandas Cheat Sheet

References:  
<http://pandas.pydata.org/pandas-docs/stable/basics.html>  
<http://pandas.pydata.org/pandas-docs/version/0.15.2/10min.html>    
<http://synesthesiam.com/posts/an-introduction-to-pandas.html>  
<http://pbpython.com/excel-pandas-comp.html>  
<http://pbpython.com/excel-pandas-comp-2.html>  
<http://pbpython.com/improve-pandas-excel-output.html>  
<http://tech.novus.com/augmenting-your-excel-workflow-with-python/>  

<http://pbpython.com/pandas-pivot-table-explained.html.
<http://pbpython.com/pandas-pivot-report.html>

<http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook-multi-index>  

<http://www.bigdataexaminer.com/14-best-python-pandas-features/>  
<http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping>  
<https://iqbalnaved.wordpress.com/2013/08/26/python-pandas-hacks/>   

<https://plot.ly/ipython-notebooks/big-data-analytics-with-pandas-and-sqlite/>  
<http://www.analyticsvidhya.com/blog/2015/04/comprehensive-guide-data-exploration-sas-using-python-numpy-scipy-matplotlib-pandas/>  

<http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/>  
<http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/>

In [1]:
import numpy as np
import pandas as pd

import datetime

<https://s3.amazonaws.com/quandl-static-content/Documents/Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf>   

|Create pandas data structures| |
|--|--|
|s = Series(data, index) |Create a Series.|
|df = DataFrame (data, index, columns) |Create a Dataframe.|
|p = Panel(data, items, major_axis, minor_axis)|Create a Panel.|


|	DataFrame Commands	|		|
|--|--|
|	df[col]	|	Select column.	|
|	df.iloc[label]	|	Select row by label.	|
|	df.index	|	Return DataFrame index.	|
|	df.drop()	|	Delete given row or column. Pass axis=1 for columns.	|
|	df1 = df1.reindex_like(df1,df2)	|	Reindex df1 with index of df2.	|
|	df.reset_index()	|	Reset index, putting old index in column named index.	|
|	df.reindex()	|	Change DataFrame index, new indecies set to NaN.	|
|	df.head(n)	|	Show first n rows.	|
|	df.tail(n)	|	Show last n rows.	|
|	df.sort()	|	Sort index.	|
|	df.sort(axis=1)	|	Sort columns.	|
|	df.pivot(index,column,values)	|	Pivot DataFrame, using new conditions.	|
|	df.T	|	Transpose DataFrame.	|
|	df.stack()	|	Change lowest level of column labels into innermost row index.	|
|	df.unstack()	|	Change innermost row index into lowest level of column labels.	|
|	df.applymap()	|	Apply function to every element in DataFrame.	|
|	df.apply()	|	Apply function along a given axis	|
|	df.dropna()	|	Drops rows where any data is missing.	|
|	df.count()	|	Returns Series of row counts for every column.	|
|	df.min()	|	Return minimum of every column.	|
|	df.max()	|	Return maximum of every column.	|
|	df.describe()	|	Generate various summary statistics for every column.	|
|	concat()	|	Merge DataFrame or Series objects	|	

|	Groupby	|		|
|--|--|
|	groupby()	|	Split DataFrame by columns. Creates a GroupBy object (gb).	|
|	gb.agg()	|	Apply function (single or list) to a GroupBy object.	|
|	gb.transform()	|	Applies function and returns object with same index as one being grouped.	|
|	gb.filter()	|	Filter GroupBy object by a given function.	|
|	gb.groups	|	Return dict whose keys are the unique groups, and values are axis labels belonging to each group.	|

|	I/O	|		|
|--|--|
|	df.to_csv('foo.csv')	|	Save to CSV.	|
|	read_csv('foo.csv')	|	Read CSV into DataFrame.	|
|	to_excel('foo.xlsx', sheet_name)	|	Save to Excel.	|
|	read_excel('foo.xlsx','sheet1', index_col = None, na_values = ['NA'])	|	Read exel into DataFrame	|

## Set the display width when printing to console

There are quite a few options to configure here, if you're using ipython then tab complete to find the [full set](http://pandas.pydata.org/pandas-docs/version/0.15.2/options.html) of display options:

    pd.options.display.<tab>

<http://stackoverflow.com/questions/21249206/how-to-configure-display-output-in-ipython-pandas>

In [2]:
#maximum number of rows and columns displayed when a frame is pretty-printed
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 10)
# Width of the display in characters.
pd.set_option('display.width', 150)
# The maximum width in characters of a column in the repr of a pandas data structure.              
pd.set_option('display.max_colwidth', 150)

## Creating/Loading Data

### Functions to create different dataframe types

An empty DataFrame can be created as follows. Test to see if the DataFrame is empty. In this case it is.

In [3]:
columns = ['A','B', 'C']
df = pd.DataFrame(columns=columns)
print(df)
print(df.empty)

Empty DataFrame
Columns: [A, B, C]
Index: []
True

If you add an index, the row contents for the rows specified by the index will be empty (filled with NaN).  However, testing to see if the DataFrame is empty will show that it is not empty: there are rows.

In [4]:
todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date-datetime.timedelta(10), periods=3, freq='D')
columns = ['A','B', 'C']
df = pd.DataFrame(index=index, columns=columns)
print(df)
print(df.empty)
df = df.fillna(0) # with 0s rather than NaNs
print(df)

              A    B    C
2015-11-17  NaN  NaN  NaN
2015-11-18  NaN  NaN  NaN
2015-11-19  NaN  NaN  NaN
False
            A  B  C
2015-11-17  0  0  0
2015-11-18  0  0  0
2015-11-19  0  0  0

### Creating and filling DataFrames

The following  functions create pandas dataframes in a variety of ways.

In [5]:
# DataFrame by passing a numpy array, with a datetime index and labeled columns.
def makeDateRand(nrows=6, ncols=4):
    dates = pd.date_range('20130101',periods=6)
    df = pd.DataFrame(np.random.randn(nrows,ncols),index=dates,columns=list('ABCD')) 
    return df
# print(makeDateRand())

In [6]:
# DataFrame by passing a numpy array, with a datetime index and labeled columns, but also with a Date column.
def makeDateColRand(nrows=6, ncols=4):
    dates = pd.date_range('20130101',periods=6)
    df = pd.DataFrame(np.random.randn(nrows,ncols),index=dates,columns=list('ABCD')) 
    df['Date'] = df.index
    return df
print(makeDateColRand())

                   A         B         C         D       Date
2013-01-01  0.759870 -1.115570  0.321444  0.389339 2013-01-01
2013-01-02  1.069222  0.956820  0.032163  0.590302 2013-01-02
2013-01-03  1.168456  1.850866 -0.199959 -0.276352 2013-01-03
2013-01-04  0.014462 -0.647269 -0.961624 -0.040737 2013-01-04
2013-01-05  0.698237  0.788467  0.443202 -0.026488 2013-01-05
2013-01-06 -1.569119  0.495847  0.296846  1.048535 2013-01-06

In [7]:
# DataFrame by passing a numpy array, with an int index and labeled columns.
def makeRand(nrows=4, ncols=4):
    return pd.DataFrame(np.random.randn(nrows, ncols), columns=['A','B','C','D'])

In [8]:
#create from dictionary
def makefoobar():
    return  pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                          'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                          'C' : np.random.randn(8),
                          'D' : np.random.randn(8)})

In [9]:
#create from dictionary
def makegridDF():
    return  pd.DataFrame({'A' : [1,2,3],
                          'B' : [4,5,6],
                          'C' : [7,8,9],
                          'D' : [10,11,12]})

In [10]:
#create from dictionary with scalars
#ValueError: If use all scalar values, must pass index
def makegridScalarDF():
    return  pd.DataFrame(dct = {'A' : 1,'B' : 4,'C' : 9,'D' : 12}, index=[0])

In [11]:
#create from dictionary
def makegAlphaDF():
    return  pd.DataFrame({'A' : ['0a','1a','2a'],
                          'B' : ['0b','1b','2b'],
                          'C' : ['0c','1c','2c'],
                          'D' : ['0d','1d','2d']})

In [12]:
#create dataframe from a user-supplied string, using a user-defined regex separator 
def makeFromString(string, sep='\s+', header=False):
    from StringIO import StringIO
    return pd.read_csv(StringIO(string), sep=sep, header=header)
#alternative method
#     import io
#     return pd.read_table(io.BytesIO(content), sep=sep, header=header)

In [13]:
# DataFrame by passing a dict of objects that can be converted to series-like.
# using categorical in column E
def makecatedf():
    df = pd.DataFrame({'A' : 1.,
                       'B' : pd.Timestamp('20130102'),
                       'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                       'D' : np.array([3] * 4,dtype='int32'),
                       'E' : pd.Categorical(["test","train","test","train"]),
                       'F' : 'foo',
                       'G': ['foox','fooa','foon','fooz']})
    return (df)

In [14]:
#create a dataframe with a NaN
def makeNaNdf():
    return pd.DataFrame([[1, np.nan], [3, 4], [4,5]], columns=list('AB'))

In [15]:
#create a DataFrame with hierarchical column index
#From http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
def createMultColIdx():
    return pd.DataFrame([list('abcd'),
                  list('efgh'),
                  list('ijkl'),
                  list('mnop')],
                  columns=pd.MultiIndex.from_product([['one','two'],
                      ['first','second']]))

In [16]:
print(makeDateRand())

                   A         B         C         D
2013-01-01  1.545168 -0.371155  1.748751 -0.742327
2013-01-02 -0.135199 -0.214700 -0.821562 -0.743507
2013-01-03  0.150033 -0.305328 -0.087958  1.217962
2013-01-04 -0.009700 -1.662539 -2.310562  1.019376
2013-01-05  1.674426  0.319542  2.062821 -1.397032
2013-01-06 -0.918166  0.060964 -0.697483  0.103964

Display the data types

In [17]:
df2 = makecatedf()
print(df2.dtypes)
df2

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
G            object
dtype: object

   A          B  C  D      E    F     G
0  1 2013-01-02  1  3   test  foo  foox
1  1 2013-01-02  1  3  train  foo  fooa
2  1 2013-01-02  1  3   test  foo  foon
3  1 2013-01-02  1  3  train  foo  fooz

In [19]:
content = '''
Time       A_x       A_y       A_z       B_x       B_y       B_z
-0.075509 -0.123527 -0.547239 -0.453707 -0.969796  0.248761  1.369613
-0.133580 -0.308314 -0.839347 -0.517989  0.652120  0.477232 -0.391767
 0.623841  0.473552  0.059428  0.726088 -0.593291 -3.186297 -0.846863'''

makeFromString(content,header=0)

       Time       A_x       A_y       A_z       B_x       B_y       B_z
0 -0.075509 -0.123527 -0.547239 -0.453707 -0.969796  0.248761  1.369613
1 -0.133580 -0.308314 -0.839347 -0.517989  0.652120  0.477232 -0.391767
2  0.623841  0.473552  0.059428  0.726088 -0.593291 -3.186297 -0.846863

If you're using IPython, tab completion for column names (as well as public attributes) is automatically enabled:  
    `df2.<Tab>`

## Display two tables side-by-side

<https://gist.github.com/stefanv/6416926>

In [20]:
class side_by_side():
    def __init__(self, *frames):
        self.frames = frames

    def _repr_html_(self):
        width = 100. / len(self.frames)

        s = ""
        for f in self.frames:
            s += "<div style='float: left;'>%s</div>" % f._repr_html_()

        return s

In [21]:
side_by_side(makeDateRand(), makeDateRand())

## File Input/Output

## CSV

In [22]:
df = makeDateRand()
df.to_csv('foo.csv')
pd.read_csv('foo.csv')

   Unnamed: 0         A         B         C         D
0  2013-01-01 -0.387197  1.870692  0.172867 -1.023957
1  2013-01-02 -1.919587  1.388854 -0.691318  1.843521
2  2013-01-03 -0.633774 -0.411159 -2.320884  0.771566
3  2013-01-04 -1.312742 -1.246297  0.436248 -2.266253
4  2013-01-05 -1.826555  0.639679  0.262254 -0.026714
5  2013-01-06  0.600357 -0.798599  0.153713 -1.080712

In [23]:
import pandas as pd
# use whitespace as separator
df = makeDateRand()
df.to_csv('foo.csv',sep=' ')
pd.read_table('foo.csv', sep='\s+')

                   A         B         C         D
2013-01-01 -0.380384 -1.439086 -0.776697  0.175153
2013-01-02  0.326734 -0.546075  1.891604 -1.612388
2013-01-03  0.238484  0.496079  0.296485  0.307313
2013-01-04 -0.057215  0.411770  0.123884 -0.713269
2013-01-05  0.615050 -0.269342  0.695872 -1.020245
2013-01-06  1.014149  1.115317  1.307598  0.441898

### Excel

In [24]:
df = makeDateRand()
df.to_excel('foo.xlsx', sheet_name='Sheet1')
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                   A         B         C         D
2013-01-01  1.179178 -0.622267 -1.177528 -0.690660
2013-01-02 -1.275438  0.214186  1.418428 -0.172775
2013-01-03 -0.334716 -0.746607  0.729043 -1.358448
2013-01-04  0.096820  0.879653  1.591919  1.490631
2013-01-05 -0.147230 -0.356355 -0.061037  0.243717
2013-01-06 -0.053943  0.054918 -0.698903  1.025548

The `read_excel` function can read one or more worksheets from an Excel filename.  If only a single sheet is read, the single sheet data is returned as a dataframe.  If more than one (or all) sheets are read the dataframes are returned as a dictionary where the keys are the sheet names.

In [25]:
import pandas as pd
filename = 'data/atmos-elevation-angles.xlsx'
dictEff = pd.read_excel(filename,sheetname=None)
print(dictEff['SpecRanges'])
dfSpec = dictEff['SpecRanges']
specBand = 'MWIR'
print(dfSpec[specBand])
print('Spectral band {} is defined as {}-{} um'.format(specBand,dfSpec[specBand][0],dfSpec[specBand][1]))
print(dictEff['Sheet1'].head())

   LWIR  MWIR  NIR  SWIR  Visible
0     8   3.6  0.7   1.0     0.43
1    12   4.9  0.9   1.7     0.69
0    3.6
1    4.9
Name: MWIR, dtype: float64
Spectral band MWIR is defined as 3.6-4.9 um
                    Atmo  Altitude  Zenith SpecBand   ToaWattTot     ToaWatt  BoaWattTot     BoaWatt  LpathWatt                 ToaQTot  \
0  ExtremeHotLowHumidity         0       0      NIR  1398.766052  235.180000  947.004883  196.459289   5.364350  6690789636830180409344
0  ExtremeHotLowHumidity         0       0  Visible  1398.766052  483.245923  947.004883  370.424402  20.394616  6690789636830180409344
0  ExtremeHotLowHumidity         0       0     MWIR  1398.766052    9.748536  947.004883    5.206474   1.379844  6690789636830180409344
0  ExtremeHotLowHumidity         0       0     LWIR  1398.766052    1.154950  947.004883    0.616622  17.365368  6690789636830180409344
0  ExtremeHotLowHumidity         0       0     SWIR  1398.766052  292.085568  947.004883  191.096176   2.109043  6690789636830180409344

                     ToaQ                 BoaQTot                    BoaQ                 LpathQ  effTauSun  effTau300
0   937726333348337025024  4122214570298150223872   785416654991043985408   21215455885239898112   0.835698   0.848021
0  1348241428429020069888  4122214570298150223872  1041597055942209961984   55548734663692599296   0.766520   0.823165
0   202039529880885002240  4122214570298150223872   103624695175853998080   31168144028971900928   0.526636   0.348604
0    55088339967843901440  4122214570298150223872    29699935361939701760  865140806282256973824   0.534258   0.553856
0  1880571793373070098432  4122214570298150223872  1215473358446389886976   12608910223941199872   0.658600   0.919904

### HDF5

Excel and CSV  formats can only store single elements per 'cell.   HDF5 provides the means to store hierarchical data, where some DataFrame cells can contain Numpy arrays or other structures.  The example below has a Numpy array in column 'array' and a pandas Series in column 'dframe'.  

Note that the Series index must match the dataframe index, otherwise the Series elements cannot be assigned (NaN are then assigned to all elements in the column).

<http://pandas.pydata.org/pandas-docs/version/0.15.2/io.html#io-hdf5>

In [26]:
df = makeDateRand()
df['arrays'] = [np.asarray([[1,x],[x/2,4*x]]) for x in range(6)]
ser = pd.Series([np.asarray([[1,x],[x/2,4*x]]) for x in range(6)],index=pd.date_range('20130101',periods=6))
print(ser)
df['dframe'] = ser
print(df)
df.to_hdf('df.hdf5','df',mode='w',append=False)
df = pd.read_hdf('df.hdf5', 'df')
print(df)
print(df.dtypes)

2013-01-01     [[1, 0], [0, 0]]
2013-01-02     [[1, 1], [0, 4]]
2013-01-03     [[1, 2], [1, 8]]
2013-01-04    [[1, 3], [1, 12]]
2013-01-05    [[1, 4], [2, 16]]
2013-01-06    [[1, 5], [2, 20]]
Freq: D, dtype: object
                   A         B         C         D             arrays             dframe
2013-01-01 -0.515260  0.254267  1.170640 -1.949427   [[1, 0], [0, 0]]   [[1, 0], [0, 0]]
2013-01-02 -0.491567 -0.119889  1.656396  0.634618   [[1, 1], [0, 4]]   [[1, 1], [0, 4]]
2013-01-03  0.328358 -0.994193 -0.986838 -0.823342   [[1, 2], [1, 8]]   [[1, 2], [1, 8]]
2013-01-04 -0.790243 -0.318537  0.388797 -1.072405  [[1, 3], [1, 12]]  [[1, 3], [1, 12]]
2013-01-05  0.647719 -1.829677  0.215735  0.072660  [[1, 4], [2, 16]]  [[1, 4], [2, 16]]
2013-01-06 -0.110566 -0.748392  0.412465  1.708865  [[1, 5], [2, 20]]  [[1, 5], [2, 20]]
                   A         B         C         D             arrays             dframe
2013-01-01 -0.515260  0.254267  1.170640 -1.949427   [[1, 0], [0, 0]]   [[1, 0], [0, 0]]
2013-01-02 -0.491567 -0.119889  1.656396  0.634618   [[1, 1], [0, 4]]   [[1, 1], [0, 4]]
2013-01-03  0.328358 -0.994193 -0.986838 -0.823342   [[1, 2], [1, 8]]   [[1, 2], [1, 8]]
2013-01-04 -0.790243 -0.318537  0.388797 -1.072405  [[1, 3], [1, 12]]  [[1, 3], [1, 12]]
2013-01-05  0.647719 -1.829677  0.215735  0.072660  [[1, 4], [2, 16]]  [[1, 4], [2, 16]]
2013-01-06 -0.110566 -0.748392  0.412465  1.708865  [[1, 5], [2, 20]]  [[1, 5], [2, 20]]
A         float64
B         float64
C         float64
D         float64
arrays     object
dframe     object
dtype: object

C:\Miniconda3\envs\py27\lib\site-packages\pandas\core\generic.py:938: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['arrays', 'dframe']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

Store and recover lists and dicts to/from HDF5 file

In [27]:
lst = [1,2,3]
dct = {'A' : 1,'B' : 4,'C' : 9,'D' : 12}
print(lst)
print(dct)
filename = 'test.hdf5'
store = pd.HDFStore(filename)
store['lst'] = pd.DataFrame(lst)
store['dct'] = pd.DataFrame(dct, index=[0])
store.close()

with pd.HDFStore(filename) as store:
    dlst = store['lst'][0].tolist()
    print(dlst)
    ddct = store['dct'].iloc[0].to_dict()
    print(ddct)

[1, 2, 3]
{'A': 1, 'C': 9, 'B': 4, 'D': 12}
[1, 2, 3]
{'A': 1, 'C': 9, 'B': 4, 'D': 12}

## Dataframe properties

### Row properties

The row count can be obtained in two different forms:

- The `len` and `shape` methods count the number of rows in the DataFrame, irrespective of the contents of the cells.
- The `df.count()` function returns a pandas series containing the number of valid entries in a column - ignoring NaN.

In [28]:
df = makeNaNdf()
print(df)
print('\nlen(df) = {}'.format(len(df)))
print('\nshape[0] = {}'.format(df.shape[0]))
print('\ntype(df.count()) = {}'.format(type(df.count())))
print('\ndf.count() = \n{}'.format(df.count()))
print("\ndf.count()['A'] = {}".format(df.count()['A']))
print('\ndf.count()[1] = {}'.format(df.count()[1]))
print('\nNans = \n{}'.format(df.apply(lambda col: pd.isnull(col))))

   A   B
0  1 NaN
1  3   4
2  4   5

len(df) = 3

shape[0] = 3

type(df.count()) = <class 'pandas.core.series.Series'>

df.count() =
A    3
B    2
dtype: int64

df.count()['A'] = 3

df.count()[1] = 2

Nans =
       A      B
0  False   True
1  False  False
2  False  False

The DataDrame index (row names) can be retrieved as a [`pandas.index `](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html), which can be used to retrieve a list of the row names:

In [29]:
df = makegridDF()
print(df.index)
print(df.index.tolist())

Int64Index([0, 1, 2], dtype='int64')
[0, 1, 2]

If the DataDrame index is a more complex data type, the data type is returned:

In [30]:
df = makeDateRand()
print(df.index)
print(df.index.tolist()) # returns a list
print(df.index.values) # returns an array

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'], dtype='datetime64[ns]', freq='D')
[Timestamp('2013-01-01 00:00:00', offset='D'), Timestamp('2013-01-02 00:00:00', offset='D'), Timestamp('2013-01-03 00:00:00', offset='D'), Timestamp('2013-01-04 00:00:00', offset='D'), Timestamp('2013-01-05 00:00:00', offset='D'), Timestamp('2013-01-06 00:00:00', offset='D')]
['2013-01-01T02:00:00.000000000+0200' '2013-01-02T02:00:00.000000000+0200'
 '2013-01-03T02:00:00.000000000+0200' '2013-01-04T02:00:00.000000000+0200'
 '2013-01-05T02:00:00.000000000+0200' '2013-01-06T02:00:00.000000000+0200']

In [31]:
#set / change the index name
df = makegridDF()
df.index.name = 'MyIndex'
print(df)
print(df.index.tolist()) # returns a list
print(df.index.values)  # returns an array

         A  B  C   D
MyIndex
0        1  4  7  10
1        2  5  8  11
2        3  6  9  12
[0, 1, 2]
[0 1 2]

Use a column's values to set the index accordingly. Now that a repeat value appears to be allowed - strange.

In [32]:
df = makegridDF()
print(df)

df.loc[2,'A'] = 2
df.index = df.A
df.index.name = 'MyNewIndex'
print(df.loc[2,:])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
            A  B  C   D
MyNewIndex
2           2  5  8  11
2           2  6  9  12

### Column properties

The column names can be retrieved as a [`pandas.index `](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html):

In [33]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

Get a list of the columns in dataframe - there are two ways to do this:

In [34]:
df = makeDateRand()
print(list(df.columns.values))
print(df.columns.values.tolist()) #fastest
print(list(df))

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

### DataFrame values

Get the values of the DataFrame contents as a Numpy array:

In [35]:
df = makeDateRand()
df.values

array([[ 0.4683787 ,  0.50784534,  0.2441699 ,  1.83636765],
       [ 0.59110301, -0.16416182, -0.54747099,  0.53576705],
       [ 0.4435519 , -1.0227133 ,  0.49912321,  0.2873627 ],
       [-2.49100771, -0.21946626,  0.30511926,  0.02984698],
       [ 1.2925748 , -1.0558194 ,  0.22763728,  0.07485487],
       [-2.49111444, -0.31754915, -0.70159116, -0.56423669]])

## NaN in Pandas / Numpy

Empty cells, or cells with missing data are filled with NaNs.  The example shows how to test for NaN values (`isnull()`).

In [36]:
a = np.nan
print(a)
print(pd.isnull(a))

nan
True

Use the `fillna()` function to fill NaN cells with some other value.

In [37]:
df = pd.DataFrame([[1, np.nan], [3, 4]], columns=list('AB'))
print(df)
print('\nNans = \n{}'.format(df.apply(lambda col: pd.isnull(col))))

#change all NaN to some other value
df.B = df.B.fillna('**')
print('\nNans replaced with ** = \n{}'.format(df))

   A   B
0  1 NaN
1  3   4

Nans =
       A      B
0  False   True
1  False  False

Nans replaced with ** =
   A   B
0  1  **
1  3   4

Creating a new dataframe by removing NaN in a row

In [38]:
df = pd.DataFrame([[1, np.nan], [3, 4]], columns=list('AB'))
print(df)
df = df[pd.notnull(df['B'])]
print(df)

   A   B
0  1 NaN
1  3   4
   A  B
1  3  4

## Manipulating DataFrames

### View of a DataFrame vs a Copy of a DataFrame

See [here](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy) for the full example.
           
More information on [multi-indexing](http://pandas-docs.github.io/pandas-docs-travis/advanced.html)

In [39]:
dfmi = createMultColIdx()
print(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In the code below the first form `dfmi['one']['second']` is called the chained method, both using the `__getitem__` method, but happening in sequence.  The first call `dfmi['one']` returns a DataFrame which is input to the second call`(dfmi['one'])['second']` - these are two calls, one happening after the other.  

The second form `df.loc[:,('one','second')]`  passes a nested tuple to a single call to `__getitem__`, which can be significantly faster, and allows one to index both axes if so desired. Look at the name of the DataFrame returned in both cases and spot the difference.

In [40]:
print(dfmi['one']['second'])
print(dfmi.loc[:,('one','second')])

0    b
1    f
2    j
3    n
Name: second, dtype: object
0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

The first forms gives a `SettingWithCopyWarning` warning.  Since the chained indexing is 2 calls, it is possible that either call may return a copy of the data because of the way it is sliced. Thus when setting, you are actually setting a copy, and not the original frame data. 

The `.loc` operation is a single python operation, and thus can select a slice (which still may be a copy), but allows pandas to assign that slice back into the frame after it is modified, thus setting the values as you would think.

The reason for having the `SettingWithCopy` warning is this. Sometimes when you slice an array you will simply get a view back, which means you can set it no problem. However, even a single dtyped array can generate a copy if it is sliced in a particular way. A multi-dtyped DataFrame (meaning it has say float and object data), will almost always yield a copy. Whether a view is created is dependent on the memory layout of the array.

In [41]:
dfmi['one']['second'] = 1 # assignment has no effect on the original!!
print(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

To get the desired effect, use `.loc` to directly address the original DataFrame.  The `slice` method is used to select multiple column levels.

<http://pandas-docs.github.io/pandas-docs-travis/advanced.html#using-slicers>

In [42]:
dfmi.loc[:,slice('one','second')] = 1
print(dfmi)

    one          two
  first second first second
0     1      1     c      d
1     1      1     g      h
2     1      1     k      l
3     1      1     o      p

### Dropping a row from a DataFrame

When using drop(), note the axis direction.   
- to drop a column axis=1  
- to drop a row axis=0  (default)

In [43]:
#drop a column
df = makegridDF()
#first drop the 'A' column
print(df.drop('A',axis=1))

   B  C   D
0  4  7  10
1  5  8  11
2  6  9  12

You can also use row indexes to drop columns.  The following example shows several index-based row drop methods.

In [44]:
df = makegridDF()
print(df)
print(df.drop(1)) # singe index
print(df.drop([1,2])) # list of indexes
print(df.drop(0,axis=0)) #single index explicit row selection
print(df.drop(df.index[[0,2]])) #list in the index 
for idx, row in df.iterrows():#iterate over all rows
    print(idx,row)
    df.drop(idx,inplace=True)
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
0  1  4  7  10
2  3  6  9  12
   A  B  C   D
0  1  4  7  10
   A  B  C   D
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
1  2  5  8  11
(0, A     1
B     4
C     7
D    10
Name: 0, dtype: int64)
(1, A     2
B     5
C     8
D    11
Name: 1, dtype: int64)
(2, A     3
B     6
C     9
D    12
Name: 2, dtype: int64)
Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [45]:
#drop some of the rows
df = makeDateRand()
df = df.drop(df.index[[0,1,2,3]])
for idx, row in df.iterrows():
    print(idx,row)

(Timestamp('2013-01-05 00:00:00', offset='D'), A   -0.195737
B   -0.671472
C   -1.374895
D   -0.145516
Name: 2013-01-05 00:00:00, dtype: float64)
(Timestamp('2013-01-06 00:00:00', offset='D'), A   -0.605261
B    0.358416
C    0.487637
D   -0.910698
Name: 2013-01-06 00:00:00, dtype: float64)

In [46]:
#drop row based on value in a column
df = makegridDF()
print(df)
print(df[df['A'] >= 3])
print(df[(df['A'] >= 2) & (df['B']<6)])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
2  3  6  9  12
   A  B  C   D
1  2  5  8  11

### Concatenation or Appending rows or DataFrames

`df.shape[0]` returns the number of rows already in the DataFrame (zero-based), hence if `df.shape[0]` is used as a row index, it will point to a new row immediately beyond the current last row.  This is an easy way to add row(s) to an existing DataFrame. 

Rows can be added to the DataFrame by [setting with enlargement](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#setting-with-enlargement).  The `df.loc[i]` (location) construct points to row `i`, which need not be an existing row.

In [47]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
print(df)
df.loc[df.shape[0]] = ['a','b'] # add a row immediately beyond the current last
df.loc[df.shape[0]] = [np.nan,'new!'] # add a row immediately beyond the current last
print(df)

   A  B
0  1  2
1  3  4
     A     B
0    1     2
1    3     4
2    a     b
3  NaN  new!

Append rows to a dataframe. See the [Appending](http://pandas.pydata.org/pandas-docs/version/0.15.2/merging.html#merging-concatenation).  This examples makes a copy of one of the rows and append it to the DataFrame.  Note that in this case a `copy()` is required to create a new DataFrame which is modified before appending.

In [48]:
df = makeRand()
s = df.iloc[2].copy() # copy is required, otherwise a view is taken
s[2] = 1000
print(s)
df.append(s, ignore_index=True)

A      -0.758417
B       0.406488
C    1000.000000
D       0.290443
Name: 2, dtype: float64

          A         B            C         D
0 -0.088843  0.124228    -0.388881  0.532490
1 -1.398838  0.855991     1.901494  0.495987
2 -0.758417  0.406488     0.310079  0.290443
3 -0.741713  0.836497    -0.476917  1.942293
4 -0.758417  0.406488  1000.000000  0.290443

The `append()` function can be used to add one more rows formed as DataFrames to an existing DataFrame.

In [49]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df = df.append(df2) # append row(s)
print(df)

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

Concatenate some existing rows from the current DataFrame to itself.

In [50]:
df = makeRand()
df2 = pd.concat([df,df[2:4]])
df2

          A         B         C         D
0 -0.956265  1.067325 -0.655160  0.495558
1  0.965711  0.925228  0.843374  0.164375
2 -0.770960  0.659964  1.451710  0.953244
3  0.099789  0.304537  0.278383  0.508842
2 -0.770960  0.659964  1.451710  0.953244
3  0.099789  0.304537  0.278383  0.508842

The following examples concatenates three views of a DataFrame.

In [51]:
# Concatenating pandas objects together
df = makeRand(10,4)
print(df)
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          A         B         C         D
0  1.167408 -1.114174 -1.139473 -0.065046
1  0.801446  0.094109  1.065983  0.511794
2  0.329247 -0.962045  0.637423  0.769509
3 -1.523929  0.630643 -0.712059  0.101408
4 -0.300833 -0.232712 -0.401686 -1.604762
5  1.699096  1.319102  1.107683 -0.968212
6  0.218873  0.115300  0.097911 -0.229657
7 -0.713873 -0.403164  0.594245  0.978678
8 -0.495773  1.393878  0.488939  1.716027
9  0.076564  0.283523 -0.384218  0.876329

          A         B         C         D
0  1.167408 -1.114174 -1.139473 -0.065046
1  0.801446  0.094109  1.065983  0.511794
2  0.329247 -0.962045  0.637423  0.769509
3 -1.523929  0.630643 -0.712059  0.101408
4 -0.300833 -0.232712 -0.401686 -1.604762
5  1.699096  1.319102  1.107683 -0.968212
6  0.218873  0.115300  0.097911 -0.229657
7 -0.713873 -0.403164  0.594245  0.978678
8 -0.495773  1.393878  0.488939  1.716027
9  0.076564  0.283523 -0.384218  0.876329

Concatenation stacks together rows from two arrays. In the example below the `df` array is concatenated with a 2x2 slice from `dfr`.  There are two observations from the code below:

- The column names are used when concatenating the rows. In the first example the column names are consistent and appended as expected. In the second example the row names do not exactly agree and cells with missing data are filled with NaN.
- The index data type of the concatenated DataFrame must be the same as the main DataFrame (hash error occurs otherwise).  For example if the index is the DateTime series, the concatenation will not work.

In [52]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
dfr = makegridDF()
print(dfr)
print('\nExample 1')
print('to be contatenated={}'.format(dfr.loc[1:2,['A','B']]))
df2 = pd.concat([df,dfr.loc[1:2,['A','B']]])
print(df2)

print('\nExample 2')
print('to be contatenated={}'.format(dfr.loc[1:2,['B','C']]))
df2 = pd.concat([df,dfr.loc[1:2,['B','C']]])
print(df2)

#this will not concatenate in the examples above - index of wrong type
# df = makeDateRand()
# df.loc['20130102':'20130104',['A','B']]

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Example 1
to be contatenated=   A  B
1  2  5
2  3  6
   A  B
0  1  2
1  3  4
1  2  5
2  3  6

Example 2
to be contatenated=   B  C
1  5  8
2  6  9
    A  B   C
0   1  2 NaN
1   3  4 NaN
1 NaN  5   8
2 NaN  6   9

### SQL style merges

See the [Database style joining](http://pandas.pydata.org/pandas-docs/version/0.15.2/merging.html#merging-join).

In [53]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
print(left)
print(right)
pd.merge(left, right, on='key')

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### Handling duplicated rows

Finding duplicate rows, where the values in all the columns must be duplicates.  You can not mark either the first or last duplicated row.  The second example creates a new DataFrame containing only the duplicated rows, counting the number of duplicated rows.

In [54]:
df2 = makegridDF()
df2.loc[1,'A'] = 1
df2.loc[1,'B'] = 1
df2.loc[0,'B'] = 1
df2['isdup'] = df2.duplicated(subset=['A','B'])
print(df2)
df2['isdup'] = df2.duplicated(subset=['A','B'], take_last=True)
print(df2)

# create a new dataframe with the repeated rows
df = df2[df2.duplicated(subset=['A','B'], take_last=True)] 
print(len(df))
print(df)

   A  B  C   D  isdup
0  1  1  7  10  False
1  1  1  8  11   True
2  3  6  9  12  False
   A  B  C   D  isdup
0  1  1  7  10   True
1  1  1  8  11  False
2  3  6  9  12  False
1
   A  B  C   D isdup
0  1  1  7  10  True

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:11: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead

The next example only checks for duplicates in column 'A' and then delete these row(s) from the DataFrame.

In [55]:
df2.drop_duplicates(subset=['A'], take_last=True, inplace=True)
df2

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

   A  B  C   D  isdup
1  1  1  8  11  False
2  3  6  9  12  False

The index value of any arbitrary row can be changed by making a list of the index, changing the value in the list and then re-assigning the list back to the DataFrame.

In [56]:
df2 = makegridDF()
df2.index = df2.index.tolist()[:-1]   + ['New Idx Value']
print(df2)

               A  B  C   D
0              1  4  7  10
1              2  5  8  11
New Idx Value  3  6  9  12

### Transpose a DataFrame

In [57]:
df = makegridDF()
print(df.T)
print(df.index)
print(df.columns)

    0   1   2
A   1   2   3
B   4   5   6
C   7   8   9
D  10  11  12
Int64Index([0, 1, 2], dtype='int64')
Index([u'A', u'B', u'C', u'D'], dtype='object')

### Selecting a subset of columns from a DataFrame

In [58]:
df = makegridDF()
print(df)
print(df.A)
print(df['A'])
print(df[['A','B']])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
0    1
1    2
2    3
Name: A, dtype: int64
0    1
1    2
2    3
Name: A, dtype: int64
   A  B
0  1  4
1  2  5
2  3  6

Selecting a subset of columns may result in a copy or a view of the original DataFrame.  In this example a copy is made when selecting the columns, but a warning ensues when you try to assign a value to an element.  This warning arises because in some cases a view into the original DataFrame is returned and pandas cannot always know which form is used.

<http://stackoverflow.com/questions/11285613/selecting-columns>

In [59]:
df = makegridDF()
df1 = df[['A','B']]
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

C:\Miniconda3\envs\py27\lib\site-packages\pandas\core\indexing.py:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

The more secure way (also get rid of the warning) to build a new DataFrame with a selection of columns is as follows:

In [60]:
df = makegridDF()
df1 = df.loc[:,['A','B']]
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Another way would be to use `ix`.  However in this case a view is returned, which means that changing `df1` also changes the original DataFrame.

In [61]:
df = makegridDF()
# df1 = df.ix[:,slice('A','B')] # this and the following have same effect.
df1 = df.ix[:,0:2]  # this and the previous have same effect.
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
     A  B  C   D
0    1  4  7  10
1    2  5  8  11
2  100  6  9  12

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

To force a copy of the original, use the `copy` method.

In [62]:
df = makegridDF()
df1 = df.ix[:,slice('A','B')].copy() # this and the following have same effect.
# df1 = df.ix[:,0:2].copy()  # this and the previous have same effect.
print(df1)
df1.loc[2,'A'] = 100
print(df1)
print(df)

   A  B
0  1  4
1  2  5
2  3  6
     A  B
0    1  4
1    2  5
2  100  6
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

### Adding a column to a dataframe

It is relatively easy to add a column to an existing data frame.

In [63]:
df = makeDateRand()
df['Total'] = df['A'] + df['B'] + df['C']
print(df)

                   A         B         C         D     Total
2013-01-01  1.844150  0.451769  0.569908 -1.532285  2.865827
2013-01-02 -0.679153 -0.812896 -0.918028 -0.361756 -2.410077
2013-01-03  1.040531 -0.024118  0.606011  0.575983  1.622424
2013-01-04  1.968106 -0.225092  0.441394  0.795977  2.184409
2013-01-05  0.177798  0.391559 -0.225575 -0.693096  0.343782
2013-01-06 -1.593527  0.371627  1.225886  1.314269  0.003986

String concatenation can be used across columns.

In [64]:
df = makegAlphaDF()
print(df)
df2 = df['A'] + df['B']
print(df2)

    A   B   C   D
0  0a  0b  0c  0d
1  1a  1b  1c  1d
2  2a  2b  2c  2d
0    0a0b
1    1a1b
2    2a2b
dtype: object

### Delete rows based on column value

DataFrame has an `isin` method. When calling `isin`, pass a set of values as either an array or dict. If values is an array, isin returns a DataFrame of booleans that is the same shape as the original DataFrame, with True wherever the element is in the sequence of values.

<http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-with-isin>  
<http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing>  

In the example below delete all rows where the value in column 'A' is in a given list.

In [65]:
df = makegridDF()
print(df)
idx = df['A'].isin([1,3])
df = df[~idx]
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A  B  C   D
1  2  5  8  11

To match certain values in certain columns make a dict where the key is the column, and the value is a list of items you want to check for.  Combine DataFrames `isin()` with the `any()` and `all()` methods to quickly select subsets of your data that meet a given criteria. To select a row where each column meets its own criterion.

In the first example, remove all rows where the requirements for __all__ of the tests are met ('A' has 1 or 2, 'B' has 5 or 6, 'C' has 8 and 'D' has 11).

<http://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.all.html#numpy.ndarray.all>

In [66]:
df = makegridDF()
print(df)
idx = df.isin({'A': [1,2], 'B': [5,6], 'C': [8], 'D': [11]})
print(idx)
idx = idx.all(axis=1)
print(idx)
df = df[~idx]
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
       A      B      C      D
0   True  False  False  False
1   True   True   True   True
2  False   True  False  False
0    False
1     True
2    False
dtype: bool
   A  B  C   D
0  1  4  7  10
2  3  6  9  12

In the second example, drop all rows where the requirements for __any__ of the tests are met ('A' has 1 or 2, 'B' has 5 or 6, 'C' has 8 and 'D' has 11).  In this case, it would drop all rows from the DataFrame, leaving it empty.

In [67]:
df = makegridDF()
print(df)
idx = df.isin({'A': [1,2], 'B': [5,6]})
print(idx)
idx = idx.any(axis=1)
print(idx)
df = df[~idx]
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
       A      B      C      D
0   True  False  False  False
1   True   True  False  False
2  False   True  False  False
0    True
1    True
2    True
dtype: bool
Empty DataFrame
Columns: [A, B, C, D]
Index: []

### Sorting

Sort by column index (axis=1), i.e., rearrange column order.

In [68]:
df = makeDateRand()
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.328417  0.670443 -0.789665  0.754426
2013-01-02  0.487764 -1.262536 -1.379703 -0.204063
2013-01-03 -0.626975 -1.899642  0.867289 -0.251356
2013-01-04 -0.872485  0.800715  0.853569  0.376663
2013-01-05 -0.194644 -0.365882 -0.203769 -1.665335
2013-01-06 -0.938471 -0.322258  0.749549 -0.300380

Sort all rows by row value in column B.

In [69]:
df.sort(columns='B')

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2013-01-02 -0.204063 -1.379703 -1.262536  0.487764
2013-01-01  0.754426 -0.789665  0.670443 -0.328417
2013-01-05 -1.665335 -0.203769 -0.365882 -0.194644
2013-01-06 -0.300380  0.749549 -0.322258 -0.938471
2013-01-04  0.376663  0.853569  0.800715 -0.872485
2013-01-03 -0.251356  0.867289 -1.899642 -0.626975

Sort all rows by row value in multiple columns.

In [70]:
df.sort(columns=['B', 'C'])

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2013-01-02 -0.204063 -1.379703 -1.262536  0.487764
2013-01-01  0.754426 -0.789665  0.670443 -0.328417
2013-01-05 -1.665335 -0.203769 -0.365882 -0.194644
2013-01-06 -0.300380  0.749549 -0.322258 -0.938471
2013-01-04  0.376663  0.853569  0.800715 -0.872485
2013-01-03 -0.251356  0.867289 -1.899642 -0.626975

You can introduce custom sorting by using categoricals.  In this example, first sort the 'G' column on default sorting (alphabetical).  Then redefine the 'G' column as a categorical with a specific sort order. Then re-sort, using the categorical sort order.

In [71]:
df = makecatedf()
print(df)
print(df.sort(columns='G'))
      
gsorter = ['fooz','fooa','foox','foon']
df.G = df.G.astype("category")
df.G.cat.set_categories(gsorter, inplace=True) 
print(df.sort(columns='G'))

   A          B  C  D      E    F     G
0  1 2013-01-02  1  3   test  foo  foox
1  1 2013-01-02  1  3  train  foo  fooa
2  1 2013-01-02  1  3   test  foo  foon
3  1 2013-01-02  1  3  train  foo  fooz
   A          B  C  D      E    F     G
1  1 2013-01-02  1  3  train  foo  fooa
2  1 2013-01-02  1  3   test  foo  foon
0  1 2013-01-02  1  3   test  foo  foox
3  1 2013-01-02  1  3  train  foo  fooz
   A          B  C  D      E    F     G
3  1 2013-01-02  1  3  train  foo  fooz
1  1 2013-01-02  1  3  train  foo  fooa
0  1 2013-01-02  1  3   test  foo  foox
2  1 2013-01-02  1  3   test  foo  foon

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()
C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

### Slicing and selecting sub-arrays

While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, use the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix. 

[Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing)  
[MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/version/0.15.2/advanced.html#advanced)

The [pandas site](http://pandas.pydata.org/pandas-docs/stable/indexing.html) offers the following description:

Object selection has had a number of user-requested additions in order to support more explicit location based indexing. pandas now supports three types of multi-axis indexing.

1.    `.ix` supports mixed integer and label based access. It is primarily label based, but will fall back to integer positional access unless the corresponding axis is of integer type. `.ix` is the most general and will support any of the inputs in `.loc` and `.iloc`. `.ix` also supports floating point label schemes. .ix is exceptionally useful when dealing with mixed positional and label based hierarchical indexes.      However, when an axis is integer based, ONLY label based access and not positional access is supported. Thus, in such cases, its usually better to be explicit and use `.iloc` or `.loc`.    
       `.ix` does not and cannot guarantee that the label versus integer position resolution is perfect - you may run into [problems](https://github.com/pydata/pandas/issues/6683)  here.  `.ix` is an older method than than `.loc` and `.iloc` and was introduced to specifically prevent ambiguity by using stricted rules on data selection. `.ix` is faster than than `.loc` and `.iloc`

     See more at [Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced) and [Advanced Hierarchical](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-advanced-hierarchical).

1.    `.loc` is primarily label based, but may also be used with a boolean array. `.loc` will raise `KeyError` when the items are not found. Allowed inputs are:
       * A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index. This use is not an integer position along the index)
       * A list or array of labels ['a', 'b', 'c']
       * A slice object with labels 'a':'f', (note that contrary to usual python slices, **both** the start and the stop are included!)
       * A boolean array

     See more at [Selection by Label](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label)

1.     `.iloc` is primarily integer position based (from `0` to `length-1` of the axis), but may also be used with a boolean array. `.iloc`  will raise `IndexError` if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with python/numpy slice semantics). Allowed inputs are:
       * An integer e.g. 5
       * A list or array of integers [4, 3, 0]
       * A slice object with ints 1:7
       * A boolean array

     See more at [Selection by Position](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)


Getting values from an object with multi-axes selection uses the following notation (using `.loc` as an example, but applies to `.iloc` and `.ix` as well). Any of the axes accessors may be the null slice `:`. Axes left out of the specification are assumed to be `:`. (e.g. `p.loc['a']` is equiv to `p.loc['a', :, :]`)

|Object Type |	Indexers|
|--|--|
|Series 	|`s.loc[indexer]`|
|DataFrame 	|`df.loc[row_indexer,column_indexer]`|
|Panel 	|`p.loc[item_indexer,major_indexer,minor_indexer]`|


<http://nbviewer.ipython.org/github/gboeing/python-cheat-sheets/blob/master/pandas-selecting.ipynb>

### Conventional selection by column/index name

Selecting a single column with the form `df['A']`, yields a Series, equivalent to df.A.  
To select multiple columns  pass a list of column names as in `df[ ['A','B'] ]`.

In [72]:
df = makegridDF()
print(df.A)
print(df['A'])
print(df[['A','B']])

0    1
1    2
2    3
Name: A, dtype: int64
0    1
1    2
2    3
Name: A, dtype: int64
   A  B
0  1  4
1  2  5
2  3  6

Extract the Numpy array from the series in one of these two ways:

In [73]:
print(np.asarray(df['A']))
print(df['A'].values)

[1 2 3]
[1 2 3]

Slice rows using `df[]`, using index values or row numbers.   The row sequence can use slice notation, note that the upper bound is not included.  

This is the same form as used for columns above - somewhat confusing!

In [74]:
df = makeDateRand()
print(df)
print(df[2:4])

                   A         B         C         D
2013-01-01 -0.126556  0.970757  0.267643 -1.042551
2013-01-02  1.073740 -0.614567  0.686964 -0.071015
2013-01-03  0.832754 -0.955228  1.748175 -0.036922
2013-01-04  0.360976  1.075000  0.535934  0.180200
2013-01-05  0.080392 -2.123666 -0.319686  0.129840
2013-01-06 -0.592432 -0.329590 -0.516655  0.583124
                   A         B         C         D
2013-01-03  0.832754 -0.955228  1.748175 -0.036922
2013-01-04  0.360976  1.075000  0.535934  0.180200

In [75]:
print(df['2013-01-01':'2013-01-02'])

                   A         B         C         D
2013-01-01 -0.126556  0.970757  0.267643 -1.042551
2013-01-02  1.073740 -0.614567  0.686964 -0.071015

### [`.ix` Conventional selection by label or position](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing-integer)

You can use `ix` to select slices of the data frame.

In [76]:
df = makeDateRand()
print(df)
print('')
print(df.ix[:, 'D']) # All rows in column D
print(df.ix[0:2, 0:2]) # upper left 2x2 sub-array, not including third [2] column 
print(df.ix[0:2, [0,2,3]]) # multiple columns in list format
print(df.ix[1:3, 'A':'C']) # use range of column names, same effect as above, note 'C' included!!
print(df.ix[2:4, ['A','C']]) # use list of column names
print(df.ix[1:3, 'B':]) # All columns onwards from 'B'
print(df.ix[1:3, :'C']) # All columns up to and including!! C
df.ix[1:3, :'C'] = -1
print(df)

                   A         B         C         D
2013-01-01  1.143047  0.665849 -0.812157  0.759250
2013-01-02 -0.860134 -2.540414  1.172069 -1.685052
2013-01-03 -1.174953 -0.365412  0.667214 -1.224319
2013-01-04  1.045498 -0.838636  0.432042  0.099249
2013-01-05 -0.915582 -1.385537 -1.505576  0.192006
2013-01-06  1.187470 -0.821087  0.572926 -1.603021

2013-01-01    0.759250
2013-01-02   -1.685052
2013-01-03   -1.224319
2013-01-04    0.099249
2013-01-05    0.192006
2013-01-06   -1.603021
Freq: D, Name: D, dtype: float64
                   A         B
2013-01-01  1.143047  0.665849
2013-01-02 -0.860134 -2.540414
                   A         C         D
2013-01-01  1.143047 -0.812157  0.759250
2013-01-02 -0.860134  1.172069 -1.685052
                   A         B         C
2013-01-02 -0.860134 -2.540414  1.172069
2013-01-03 -1.174953 -0.365412  0.667214
                   A         C
2013-01-03 -1.174953  0.667214
2013-01-04  1.045498  0.432042
                   B         C         D
2013-01-02 -2.540414  1.172069 -1.685052
2013-01-03 -0.365412  0.667214 -1.224319
                   A         B         C
2013-01-02 -0.860134 -2.540414  1.172069
2013-01-03 -1.174953 -0.365412  0.667214
                   A         B         C         D
2013-01-01  1.143047  0.665849 -0.812157  0.759250
2013-01-02 -1.000000 -1.000000 -1.000000 -1.685052
2013-01-03 -1.000000 -1.000000 -1.000000 -1.224319
2013-01-04  1.045498 -0.838636  0.432042  0.099249
2013-01-05 -0.915582 -1.385537 -1.505576  0.192006
2013-01-06  1.187470 -0.821087  0.572926 -1.603021

To copy discontinuous column ranges takes a bit more effort. First create lists of the required columns

In [77]:
df = makeDateRand()
lst = list(df.columns[0:1]) + list(df.columns[2:3])
print(lst)
df1 = df[lst].copy() # copy was made, use this to get rid of the warning 
df1.ix[2,0] = +1000
print(df1)

df2 = df.ix[:,lst] # ix appears to have made a copy
df2.ix[2,0] = +1000
print(df2)
print(df)

['A', 'C']
                      A         C
2013-01-01     0.105224  0.390589
2013-01-02    -0.994462  0.892269
2013-01-03  1000.000000  0.566408
2013-01-04     0.589277 -1.069615
2013-01-05    -0.240264  0.581146
2013-01-06    -0.411138 -0.064191
                      A         C
2013-01-01     0.105224  0.390589
2013-01-02    -0.994462  0.892269
2013-01-03  1000.000000  0.566408
2013-01-04     0.589277 -1.069615
2013-01-05    -0.240264  0.581146
2013-01-06    -0.411138 -0.064191
                   A         B         C         D
2013-01-01  0.105224 -0.850055  0.390589  0.418867
2013-01-02 -0.994462  0.726262  0.892269  0.356299
2013-01-03 -0.151310 -0.521775  0.566408 -0.957123
2013-01-04  0.589277 -0.300727 -1.069615 -1.734922
2013-01-05 -0.240264  0.999330  0.581146  1.234014
2013-01-06 -0.411138  0.864702 -0.064191  0.314006

### [`.loc` Selection by Label](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing-label)

The following example is strange in the sense that is refers to the index by name (see the function where the DataFrame was created), but the index is not named.  Yet, it can/must be used, by using the Series name `dates`. This is probably because pandas  has strong support for time Series.

In [78]:
df = makeDateRand()
dates = df.index
print(df)
print(df.index)
print(df.index.name)
print(df.columns)
print(df.loc[df.index[0]])
print(df.loc[dates[0]])

                   A         B         C         D
2013-01-01 -0.963414 -0.062809 -0.923654  0.336727
2013-01-02  0.982394 -0.599273  1.158357  1.307678
2013-01-03 -1.654106  0.990347 -0.882056  0.438921
2013-01-04  0.492533  0.902134  0.815983 -0.223429
2013-01-05  2.032486  0.625433  1.744262 -0.479370
2013-01-06 -1.515838  0.747325  0.620951  0.440307
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'], dtype='datetime64[ns]', freq='D')
None
Index([u'A', u'B', u'C', u'D'], dtype='object')
A   -0.963414
B   -0.062809
C   -0.923654
D    0.336727
Name: 2013-01-01 00:00:00, dtype: float64
A   -0.963414
B   -0.062809
C   -0.923654
D    0.336727
Name: 2013-01-01 00:00:00, dtype: float64

In this example the row at count=0 is accessed just by the count number.  The index is not named.

In [79]:
df = makegridDF()
print(df)
print(df.index)
print(df.index.name)
print(df.loc[0])

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
Int64Index([0, 1, 2], dtype='int64')
None
A     1
B     4
C     7
D    10
Name: 0, dtype: int64

Select all the rows, but only the 'A' and 'B' columns of these rows.

In [80]:
df.loc[:,['A','B']]

   A  B
0  1  4
1  2  5
2  3  6

In the following example a slice is made on both rows and columns.  Note that when using `loc` both endpoints in the row range are returned, but in die `ix` case the upper bound must point to one beyond the end row.

In [81]:
df = makeDateRand()
print(df.loc['20130102':'20130104',['A','B']])
print(df.ix[1:4,['A','B']])

                   A         B
2013-01-02  0.283223  1.119485
2013-01-03  0.685256 -0.071599
2013-01-04 -1.307954  0.994445
                   A         B
2013-01-02  0.283223  1.119485
2013-01-03  0.685256 -0.071599
2013-01-04 -1.307954  0.994445

This example selects a row by using a dynamically generated datetime value.

In [82]:
df = makeDateRand()
df.ix[datetime.datetime(2013,01,02)]

A   -1.930342
B   -1.569180
C   -1.081378
D   -0.082590
Name: 2013-01-02 00:00:00, dtype: float64

Rows can also be selected by numeric index by using the `irow` method.

In [83]:
df = makeDateRand()
print(df)
print(df.irow(1))
print(df.irow(3))

                   A         B         C         D
2013-01-01  1.926567 -0.070884  1.688541 -0.110097
2013-01-02  0.246392 -0.737233 -0.073388  0.507369
2013-01-03 -0.005625  0.163370  0.798942  0.419785
2013-01-04  0.728127 -0.423832  0.692754 -0.114982
2013-01-05 -0.737644 -1.842726  0.814393 -2.242942
2013-01-06  0.485343  1.105314  0.475995  0.589390
A    0.246392
B   -0.737233
C   -0.073388
D    0.507369
Name: 2013-01-02 00:00:00, dtype: float64
A    0.728127
B   -0.423832
C    0.692754
D   -0.114982
Name: 2013-01-04 00:00:00, dtype: float64

C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  app.launch_new_instance()
C:\Miniconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: irow(i) is deprecated. Please use .iloc[i]

This example iterates over all rows, assigning values to each row during iteration.

In [84]:
df = makeDateRand()
print(df.head())
for i,(idx, row) in enumerate(df.iterrows()):
    row['A'] = 2
    df.ix[idx, 'B'] = i
    df.ix[idx]['C'] = np.sqrt(i)
print(df.head())

                   A         B         C         D
2013-01-01  0.606589  1.251476 -0.140449 -1.362916
2013-01-02  0.029462 -1.445196  0.715320 -1.546244
2013-01-03 -0.412223 -1.591843 -0.454466 -0.390315
2013-01-04  1.270745 -0.201814  0.736302 -0.864721
2013-01-05  1.214056 -0.820874  0.704585 -1.462438
            A  B         C         D
2013-01-01  2  0  0.000000 -1.362916
2013-01-02  2  1  1.000000 -1.546244
2013-01-03  2  2  1.414214 -0.390315
2013-01-04  2  3  1.732051 -0.864721
2013-01-05  2  4  2.000000 -1.462438

In [85]:
#tbc

### [`.iloc` Selection by Position](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#indexing-integer)

The `iloc`

In [86]:
df = makeDateRand()
df.iloc[3]

A   -0.462500
B   -0.259439
C   -2.053066
D   -0.270173
Name: 2013-01-04 00:00:00, dtype: float64

In [87]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.462500 -0.259439
2013-01-05  0.003649 -1.913620

In [88]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.389940  1.269098
2013-01-03 -1.026619 -0.939863
2013-01-05  0.003649 -1.070628

In [89]:
#slicing rows
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.389940 -0.101273  1.269098 -0.259265
2013-01-03 -1.026619  0.437395 -0.939863 -1.022749

In [90]:
#slicing columns
df.iloc[:,1:3]

                   B         C
2013-01-01  2.407658 -1.211241
2013-01-02 -0.101273  1.269098
2013-01-03  0.437395 -0.939863
2013-01-04 -0.259439 -2.053066
2013-01-05 -1.913620 -1.070628
2013-01-06  0.166562 -0.423515

In [91]:
df.iloc[1,1]

-0.10127344445079257

### Series/DataFrame [enlargement](http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#setting-with-enlargement)

The `.loc`/`.ix/[]` operations can perform enlargement when setting a non-existent key for that axis. In the Series case this is effectively an appending operation.

In [92]:
se = pd.Series([1,2,3])
print(se) 
se[5] = 5.
print(se)

0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
5    5
dtype: float64

A DataFrame can be enlarged on either axis via `.loc`

In [93]:
dfi = pd.DataFrame(np.arange(6).reshape(3,2),columns=['A','B'])
print(dfi)
dfi.loc[:,'C'] = dfi.loc[:,'A']
print(dfi)
dfi.loc[3] = 5
print(dfi)

   A  B
0  0  1
1  2  3
2  4  5
   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
3  5  5  5

### Find row where index is nearest to given value

In [94]:
df = makeDateRand()
print(df)
print(df.iloc[np.argmin(np.abs(df.index.to_pydatetime() - datetime.datetime(2013,1,4)))]) # row
print(np.argmin(np.abs(df.index.to_pydatetime() - datetime.datetime(2013,1,4)))) # index

                   A         B         C         D
2013-01-01 -2.826389 -0.842865  0.048104 -0.667622
2013-01-02  0.897501 -0.778197  0.277514  0.746953
2013-01-03 -0.204372 -1.298260 -0.278592 -0.515486
2013-01-04  0.246740 -2.292470  0.002473  0.916415
2013-01-05  1.420009 -1.798525  0.578222  0.207176
2013-01-06  0.820639  1.483584 -0.318033 -0.287047
A    0.246740
B   -2.292470
C    0.002473
D    0.916415
Name: 2013-01-04 00:00:00, dtype: float64
3

In [99]:
# df = makeRand()
# print(df)
# print(np.abs(df.index - 2)) # row

# row = df.iloc[np.argmin(np.abs(df.index - 2))] # row
# print(type(row))
# print(row)
# print(np.abs(df.index - 2)) # index
# print(np.argmin(np.abs(df.index - 2))) # index

### Find row where column is maximum

In [100]:
df = makeRand()
print(df)
print(df['A'].argmax(df['A'].argmax()))  # index
print(df.iloc[df['A'].argmax(df['A'].argmax())]) #row

          A         B         C         D
0  0.762670 -1.534997  1.274608 -0.916519
1  1.439423  0.853401 -0.824714 -0.492582
2  0.123467  0.158529 -1.164087 -0.168633
3  0.718242  0.825765  0.668789  1.002031
1
A    1.439423
B    0.853401
C   -0.824714
D   -0.492582
Name: 1, dtype: float64

### Find row where specific column has nearest value

In [101]:
df = makeRand()
print(df)
value = 0
print(df.iloc[np.argmin(np.abs(df['A'] - value))]) # row
print(np.argmin(np.abs(df['A'] - value))) # index

          A         B         C         D
0  1.551818 -0.233743 -0.747572 -1.385901
1  1.123475 -0.249717  0.790148  0.990760
2  0.568225 -0.991005 -1.653572  2.140814
3 -0.159055 -1.140210 -0.528673  1.009933
A   -0.159055
B   -1.140210
C   -0.528673
D    1.009933
Name: 3, dtype: float64
3

### Boolean indexing and filtering

In [102]:
#filter by single row
df = makeDateRand()
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.445749  0.735514 -1.029546 -0.828259
2013-01-02  1.036038 -1.166444  1.177292 -0.229461
2013-01-03  0.322089  0.235849  0.306694  0.224386
2013-01-04  0.743497  1.899232 -0.362447 -0.223915
2013-01-05  1.576298  1.294578  0.087809  0.073857

In [103]:
#filter by multiple row
df2 = df[(df.A>0) & (df.B>0)]
df2

                   A         B         C         D
2013-01-01  0.445749  0.735514 -1.029546 -0.828259
2013-01-03  0.322089  0.235849  0.306694  0.224386
2013-01-04  0.743497  1.899232 -0.362447 -0.223915
2013-01-05  1.576298  1.294578  0.087809  0.073857

In [104]:
#filter specs are pandas time series, which can be manipulated
filt = (df.A>0) & (df.B>0)
print(type(filt), filt)
print('filt.any() = {}'.format(filt.any()))
print('filt.all() = {}'.format(filt.all()))

(<class 'pandas.core.series.Series'>, 2013-01-01     True
2013-01-02    False
2013-01-03     True
2013-01-04     True
2013-01-05     True
2013-01-06    False
Freq: D, dtype: bool)
filt.any() = True
filt.all() = False

In [105]:
#filter by element
df[df > 0]

                   A         B         C         D
2013-01-01  0.445749  0.735514       NaN       NaN
2013-01-02  1.036038       NaN  1.177292       NaN
2013-01-03  0.322089  0.235849  0.306694  0.224386
2013-01-04  0.743497  1.899232       NaN       NaN
2013-01-05  1.576298  1.294578  0.087809  0.073857
2013-01-06       NaN  1.747531  0.935463       NaN

In [106]:
#isin filtering
df2 = df.copy()
df2['E']=['one', 'one','two','three','four','three']
print(df2)
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D      E
2013-01-01  0.445749  0.735514 -1.029546 -0.828259    one
2013-01-02  1.036038 -1.166444  1.177292 -0.229461    one
2013-01-03  0.322089  0.235849  0.306694  0.224386    two
2013-01-04  0.743497  1.899232 -0.362447 -0.223915  three
2013-01-05  1.576298  1.294578  0.087809  0.073857   four
2013-01-06 -1.028637  1.747531  0.935463 -0.245184  three

                   A         B         C         D     E
2013-01-03  0.322089  0.235849  0.306694  0.224386   two
2013-01-05  1.576298  1.294578  0.087809  0.073857  four

In [107]:
#get unique values in a column
df = makefoobar()
print(df)
df.B.unique()

     A      B         C         D
0  foo    one -0.248481  0.200387
1  bar    one -0.120425 -1.878177
2  foo    two  0.616325 -1.039226
3  bar  three -1.392611 -0.901399
4  foo    two  0.970671  1.468188
5  bar    two  0.547270  0.531315
6  foo    one -1.536266  0.017747
7  foo  three -1.890152  1.501956

array(['one', 'two', 'three'], dtype=object)

<http://stackoverflow.com/questions/20875140/apply-function-to-sets-of-columns-in-pandas-looping-over-entire-data-frame-co>  

What I want to do is simply to calculate the length of the vector for each header (A and B) in this case, for each index, and divide by the Time column. Hence, this function needs to be np.sqrt(A_x^2 + A_y^2 + A_z^2) and the same for B of course. I.e. I am looking to calculate the velocity for each row, but three columns contribute to one velocity result.

In [108]:
#pandas approach
headers = ['Time', 'A_x', 'A_y', 'A_z', 'B_x', 'B_y', 'B_z']
df = pd.DataFrame(np.random.randn(10,7),index=range(1,11),columns=headers)

#fiter the column names to get a list of the ones you need
print(filter(lambda x: x.startswith("A_"),df.columns))

#get the columns according to names
print(df[filter(lambda x: x.startswith("A_"),df.columns)])

# do the apply dot product for each row across columns
column_initials = ["A","B"]
for column_initial in column_initials:
    df["Velocity_"+column_initial] = \
    df[filter(lambda x: x.startswith(column_initial+"_"),df.columns)].apply(lambda x: np.sqrt(x.dot(x)), axis=1)/df.Time
print(df)

['A_x', 'A_y', 'A_z']
         A_x       A_y       A_z
1  -0.271325 -0.040569  2.234140
2   1.676840 -0.408536  1.633453
3   0.474374 -1.036177 -0.584896
4  -2.712110  0.247564 -0.229928
5  -0.503154  2.788568 -0.669732
6   0.472090  1.158690 -0.602710
7  -0.881808 -1.096863 -0.748775
8   1.345657  0.228372 -1.277566
9   0.429461  0.721702  0.803211
10 -0.913034  0.707611  0.463178
        Time       A_x       A_y       A_z       B_x       B_y       B_z  Velocity_A  Velocity_B
1  -0.940566 -0.271325 -0.040569  2.234140  0.210161 -0.443253 -0.082612   -2.393156   -0.528894
2   0.848931  1.676840 -0.408536  1.633453 -0.146118  0.141844 -0.078177    2.799183    0.256949
3  -0.884269  0.474374 -1.036177 -0.584896 -0.210486  1.620843  2.172524   -1.448581   -3.074511
4  -1.605036 -2.712110  0.247564 -0.229928 -0.138790  0.431814 -1.652744   -1.702812   -1.067796
5  -0.436245 -0.503154  2.788568 -0.669732 -1.104340 -0.966957  0.209328   -6.674397   -3.398775
6  -0.593949  0.472090  1.158690 -0.602710 -0.393901  0.700173  2.215405   -2.338202   -3.967628
7   0.086644 -0.881808 -1.096863 -0.748775  0.074484  1.179936  1.084282   18.398948   18.514803
8  -1.620919  1.345657  0.228372 -1.277566 -0.001435  0.391078  0.788296   -1.153373   -0.542886
9  -0.356840  0.429461  0.721702  0.803211  0.108811 -0.041227  0.576990   -3.256599   -1.649498
10  0.070775 -0.913034  0.707611  0.463178 -1.330358 -0.654983 -0.312054   17.584552   21.410690

In [109]:
#numpy approach
headers = ['Time', 'A_x', 'A_y', 'A_z', 'B_x', 'B_y', 'B_z']
df = pd.DataFrame(np.random.randn(10,7),index=range(1,11),columns=headers)

arr = df.values
times = arr[:,0]
arr = arr[:,1:]
result = np.sqrt((arr**2).reshape(arr.shape[0],-1,3).sum(axis=-1))/times[:,None]
result = pd.DataFrame(result, columns=['Velocity_%s'%(x,) for x in list('AB')])
print(result)

   Velocity_A  Velocity_B
0    6.046411    6.510787
1   -1.134997   -1.128669
2  -22.758495  -20.834015
3   -6.441701   -9.623911
4    3.885903    1.943191
5   -4.548067   -4.513510
6    2.624163    0.720103
7   -2.874051   -2.191120
8    1.212568    1.508196
9    0.895614    0.359163

In [110]:
# yet another approach
headers = ['Time', 'A_x', 'A_y', 'A_z', 'B_x', 'B_y', 'B_z']
df = pd.DataFrame(np.random.randn(10,7),index=range(1,11),columns=headers)

result = df\
    .loc[:, df.columns!='Time']\
    .groupby(lambda x: x[0], axis=1)\
    .apply(lambda x: np.sqrt((x**2).sum(1)))\
    .apply(lambda x: x / df['Time'])

print(result)

            A          B
1    2.642190   3.094900
2  -13.959515  -9.876638
3   -0.921119  -1.050334
4   -4.113012  -3.166953
5    8.273430  32.140073
6    7.732513   5.832885
7    1.857514   3.464031
8   -1.393178  -0.898309
9   -2.610728  -2.433499
10   2.486619   1.752182

### Setting data

In [111]:
#Adding the sum along a column
df = makeDateRand()
df['A'].sum(), df['B'].sum(), df['C'].sum(),

(5.204855005935359, -0.6666270764853586, -0.6052773127849618)

In [112]:
df = makeDateRand()
df['Total'] = df['A'] + df['B'] + df['C']
print(df)

                   A         B         C         D     Total
2013-01-01  1.485481 -0.569089 -0.721372  0.283696  0.195020
2013-01-02 -0.040443 -0.550924  0.616050  0.381558  0.024683
2013-01-03  0.628348 -1.054930 -1.286826  0.203611 -1.713409
2013-01-04  0.117330  1.234945  1.106346 -0.733215  2.458620
2013-01-05  1.261061  1.365352  0.356933  0.512394  2.983346
2013-01-06 -0.140059 -1.082718  0.167612 -0.549012 -1.055165

In [113]:
sum_row = df[['A','B','Total']].sum()
sum_row

A        3.311717
B       -0.657365
Total    2.893095
dtype: float64

We need to transpose the data and convert the Series to a DataFrame so that it is easier to concat onto our existing data. The T function allows us to switch the data from being row-based to column-based.

In [114]:
df_sum=pd.DataFrame(data=sum_row).T
df_sum

          A         B     Total
0  3.311717 -0.657365  2.893095

The final thing we need to do before adding the totals back is to add the missing columns. We use reindex to do this for us. The trick is to add all of our columns and then allow pandas to fill in the values that are missing.

In [115]:
df_sum=df_sum.reindex(columns=df.columns)
df_sum

          A         B   C   D     Total
0  3.311717 -0.657365 NaN NaN  2.893095

Now append the totals to the end of the dataframe, rename the index value to use the word 'Total'.

In [116]:
df=df.append(df_sum,ignore_index=True)
df.index = df.index.tolist()[:-1]   + ['Total']
df.tail()

              A         B         C         D     Total
2      0.628348 -1.054930 -1.286826  0.203611 -1.713409
3      0.117330  1.234945  1.106346 -0.733215  2.458620
4      1.261061  1.365352  0.356933  0.512394  2.983346
5     -0.140059 -1.082718  0.167612 -0.549012 -1.055165
Total  3.311717 -0.657365       NaN       NaN  2.893095

Setting a new column automatically aligns the data by the indexes

In [117]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))
df2['F'] = s1
df2

                   A         B         C         D      E   F
2013-01-01  0.445749  0.735514 -1.029546 -0.828259    one NaN
2013-01-02  1.036038 -1.166444  1.177292 -0.229461    one   1
2013-01-03  0.322089  0.235849  0.306694  0.224386    two   2
2013-01-04  0.743497  1.899232 -0.362447 -0.223915  three   3
2013-01-05  1.576298  1.294578  0.087809  0.073857   four   4
2013-01-06 -1.028637  1.747531  0.935463 -0.245184  three   5

In [118]:
# Setting values by label
dates = df.index
df.at[dates[0],'A'] = 0
df

              A         B         C         D     Total
0      0.000000 -0.569089 -0.721372  0.283696  0.195020
1     -0.040443 -0.550924  0.616050  0.381558  0.024683
2      0.628348 -1.054930 -1.286826  0.203611 -1.713409
3      0.117330  1.234945  1.106346 -0.733215  2.458620
4      1.261061  1.365352  0.356933  0.512394  2.983346
5     -0.140059 -1.082718  0.167612 -0.549012 -1.055165
Total  3.311717 -0.657365       NaN       NaN  2.893095

In [119]:
# Setting values by position
df.iat[0,1] = 7
df

              A         B         C         D     Total
0      0.000000  7.000000 -0.721372  0.283696  0.195020
1     -0.040443 -0.550924  0.616050  0.381558  0.024683
2      0.628348 -1.054930 -1.286826  0.203611 -1.713409
3      0.117330  1.234945  1.106346 -0.733215  2.458620
4      1.261061  1.365352  0.356933  0.512394  2.983346
5     -0.140059 -1.082718  0.167612 -0.549012 -1.055165
Total  3.311717 -0.657365       NaN       NaN  2.893095

In [120]:
# Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5] * len(df))
df

              A         B         C  D     Total
0      0.000000  7.000000 -0.721372  5  0.195020
1     -0.040443 -0.550924  0.616050  5  0.024683
2      0.628348 -1.054930 -1.286826  5 -1.713409
3      0.117330  1.234945  1.106346  5  2.458620
4      1.261061  1.365352  0.356933  5  2.983346
5     -0.140059 -1.082718  0.167612  5 -1.055165
Total  3.311717 -0.657365       NaN  5  2.893095

In [121]:
# A where operation with setting.
df = makeDateRand()
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C         D
2013-01-01 -0.396378 -1.949100 -0.758153 -0.518644
2013-01-02 -0.041182 -1.211616 -2.132645 -1.502130
2013-01-03 -1.458901 -0.137305 -1.228969 -1.001956
2013-01-04 -0.926463 -1.472513 -0.554183 -0.312261
2013-01-05 -0.847272 -0.661999 -1.218388 -1.779021
2013-01-06 -2.376548 -0.246227 -1.157040 -0.790074

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the [Missing Data section](http://pandas.pydata.org/pandas-docs/version/0.15.2/missing_data.html#missing-data)

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [122]:
df = makeDateRand()
dates = df.index
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])
print(df1)
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)

                   A         B         C         D   E
2013-01-01 -0.566708  1.338549  0.518210  0.433223 NaN
2013-01-02  2.004000  0.486821 -0.366502  0.813666 NaN
2013-01-03 -0.775283 -1.266551  0.322386  0.207840 NaN
2013-01-04  0.589585 -0.514747 -1.640519  0.230919 NaN
                   A         B         C         D   E
2013-01-01 -0.566708  1.338549  0.518210  0.433223   1
2013-01-02  2.004000  0.486821 -0.366502  0.813666   1
2013-01-03 -0.775283 -1.266551  0.322386  0.207840 NaN
2013-01-04  0.589585 -0.514747 -1.640519  0.230919 NaN

To drop any rows that have missing data.

In [123]:
df1.dropna(how='any')

                   A         B         C         D  E
2013-01-01 -0.566708  1.338549  0.518210  0.433223  1
2013-01-02  2.004000  0.486821 -0.366502  0.813666  1

Filling missing data

In [124]:
df1.fillna(value=5)

                   A         B         C         D  E
2013-01-01 -0.566708  1.338549  0.518210  0.433223  1
2013-01-02  2.004000  0.486821 -0.366502  0.813666  1
2013-01-03 -0.775283 -1.266551  0.322386  0.207840  5
2013-01-04  0.589585 -0.514747 -1.640519  0.230919  5

To get the boolean mask where values are nan

In [125]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

## Operations
### Binary operations

See the Basic section on [Binary Ops](http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#basics-binop)  

Operations in general exclude missing data.

In [126]:
df.mean()

A    0.208937
B   -0.122145
C   -0.355202
D    0.308901
dtype: float64

In [127]:
#along the other axis
df.mean(1)

2013-01-01    0.430819
2013-01-02    0.734496
2013-01-03   -0.377902
2013-01-04   -0.333691
2013-01-05   -0.097828
2013-01-06   -0.295158
Freq: D, dtype: float64

### Applying functions to the data

When using apply(), note the axis direction.   
- for each column, apply down a row: axis=0  (default)
- for each row, apply across columns: axis=1.

In [128]:
df = makegridDF()
print(df)
print(df.apply(np.cumsum))
print(df.apply(np.cumsum, axis=0))
print(df.apply(np.cumsum, axis=1))

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12
   A   B   C   D
0  1   4   7  10
1  3   9  15  21
2  6  15  24  33
   A   B   C   D
0  1   4   7  10
1  3   9  15  21
2  6  15  24  33
   A  B   C   D
0  1  5  12  22
1  2  7  15  26
2  3  9  18  30

In [129]:
df = makeDateRand()
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  0.618370 -0.423617 -0.541199 -1.572750
2013-01-02 -0.676881  0.075679 -0.595677 -0.585873
2013-01-03 -1.709334 -0.409412 -1.046787 -0.472664
2013-01-04 -2.731324 -0.045515 -2.696616 -0.684590
2013-01-05 -2.251957  0.107536 -3.013506 -1.343438
2013-01-06 -3.772258  0.303484 -3.643922 -2.812462

In [130]:
df = makeDateRand()
print(df)
df.apply(lambda x: x.max() - x.min())

                   A         B         C         D
2013-01-01 -0.315241 -0.682223 -0.046181  0.270959
2013-01-02 -1.180428 -0.448282  0.415925 -0.335168
2013-01-03  1.391905  0.333268 -0.698979 -0.115700
2013-01-04  1.015273  0.257449 -1.450276 -0.326653
2013-01-05 -0.353249 -0.852639 -0.331521 -1.987590
2013-01-06 -0.328612  0.296767 -1.613519 -1.193033

A    2.572332
B    1.185907
C    2.029444
D    2.258549
dtype: float64

In [131]:
from datetime import datetime
df = makeDateRand()
df.index.name = 'Date'
df.reset_index(level=0,inplace=True)
print(df)
#convert to string format
df.Date = df.Date.apply(lambda d: ' '.join(d.isoformat().split('T')))
print(df)
#convert back to datetime format
df.Date = df.Date.apply(lambda d: datetime.strptime(d, "%Y-%m-%d %H:%M:%S"))
print(df)

df.index = df.Date
print(df)

        Date         A         B         C         D
0 2013-01-01 -0.216329 -0.834429  0.221326 -0.796614
1 2013-01-02 -0.809330 -0.570799 -0.916992 -0.366359
2 2013-01-03 -0.937033  0.278828 -0.957030  0.339212
3 2013-01-04 -0.994495 -1.378006  0.569727  2.903837
4 2013-01-05 -0.762364  0.018585  0.801053 -1.320116
5 2013-01-06 -0.377757  1.075624 -0.482395 -0.237085
                  Date         A         B         C         D
0  2013-01-01 00:00:00 -0.216329 -0.834429  0.221326 -0.796614
1  2013-01-02 00:00:00 -0.809330 -0.570799 -0.916992 -0.366359
2  2013-01-03 00:00:00 -0.937033  0.278828 -0.957030  0.339212
3  2013-01-04 00:00:00 -0.994495 -1.378006  0.569727  2.903837
4  2013-01-05 00:00:00 -0.762364  0.018585  0.801053 -1.320116
5  2013-01-06 00:00:00 -0.377757  1.075624 -0.482395 -0.237085
        Date         A         B         C         D
0 2013-01-01 -0.216329 -0.834429  0.221326 -0.796614
1 2013-01-02 -0.809330 -0.570799 -0.916992 -0.366359
2 2013-01-03 -0.937033  0.278828 -0.957030  0.339212
3 2013-01-04 -0.994495 -1.378006  0.569727  2.903837
4 2013-01-05 -0.762364  0.018585  0.801053 -1.320116
5 2013-01-06 -0.377757  1.075624 -0.482395 -0.237085
                 Date         A         B         C         D
Date
2013-01-01 2013-01-01 -0.216329 -0.834429  0.221326 -0.796614
2013-01-02 2013-01-02 -0.809330 -0.570799 -0.916992 -0.366359
2013-01-03 2013-01-03 -0.937033  0.278828 -0.957030  0.339212
2013-01-04 2013-01-04 -0.994495 -1.378006  0.569727  2.903837
2013-01-05 2013-01-05 -0.762364  0.018585  0.801053 -1.320116
2013-01-06 2013-01-06 -0.377757  1.075624 -0.482395 -0.237085

Applying a function using column data, but with extra parameters.  In the example below we use a value in a single DataFrame column 'IrradianceLux', together with extra parameters, to calculate a new row.

http://stackoverflow.com/questions/21188504/python-pandas-apply-a-function-with-arguments-to-a-series-update

In [165]:
import pandas as pd
lx = {'Sunlight': 107527, 
      'Full daylight': 10752,
      'Overcast day':1075,
      'Very dark day':107,
      'Twilight': 10.8,
      'Deep twilight': 1.08,
      'Full moon': 0.108,
      'Quarter moon':0.0108,
      'Starlight': 0.0011,
      'Overcastnight':0.0001
    }
fnos = [1.4, 2, 2.74, 3.8, 5.4, 7.5
       ]

def calcIrrad(lx, rho, taua, tauo, fno):
    return lx * rho * taua * tauo / (4 * fno ** 2)
    
df = pd.DataFrame(list(lx.items()), columns=['Condition','IrradianceLux'])

rho = 0.3
taua = 0.5
tauo = 0.9
for fno in fnos:
    df['{}'.format(fno)] = df.IrradianceLux.apply(calcIrrad, args=(rho, taua, tauo, fno) )
    
df.sort_values(by='IrradianceLux')

       Condition  IrradianceLux          1.4             2          2.74           3.8           5.4           7.5
8  Overcastnight         0.0001     0.000002  8.437500e-07  4.495445e-07  2.337258e-07  1.157407e-07  6.000000e-08
2      Starlight         0.0011     0.000019  9.281250e-06  4.944989e-06  2.570983e-06  1.273148e-06  6.600000e-07
4   Quarter moon         0.0108     0.000186  9.112500e-05  4.855080e-05  2.524238e-05  1.250000e-05  6.480000e-06
6      Full moon         0.1080     0.001860  9.112500e-04  4.855080e-04  2.524238e-04  1.250000e-04  6.480000e-05
3  Deep twilight         1.0800     0.018597  9.112500e-03  4.855080e-03  2.524238e-03  1.250000e-03  6.480000e-04
7       Twilight        10.8000     0.185969  9.112500e-02  4.855080e-02  2.524238e-02  1.250000e-02  6.480000e-03
1  Very dark day       107.0000     1.842474  9.028125e-01  4.810126e-01  2.500866e-01  1.238426e-01  6.420000e-02
0   Overcast day      1075.0000    18.510842  9.070312e+00  4.832603e+00  2.512552e+00  1.244213e+00  6.450000e-01
5  Full daylight     10752.0000   185.142857  9.072000e+01  4.833502e+01  2.513019e+01  1.244444e+01  6.451200e+00
9       Sunlight    107527.0000  1851.549107  9.072591e+02  4.833817e+02  2.513183e+02  1.244525e+02  6.451620e+01

Apply a function to existing columns to create a new column

In [133]:
def fx(x, y):
    return x*y

import numpy as np
import pandas as pd
df = pd.DataFrame({"A": [10,20,30], "B": [20, 30, 10]})
df['nocols'] = np.vectorize(fx)(4, 5)
df['new_column'] = np.vectorize(fx)(df['A'], df['B'])
df

    A   B  nocols  new_column
0  10  20      20         200
1  20  30      20         600
2  30  10      20         300

Apply a named function on multiple columns and scalar arguments

In [134]:
import pandas as pd 
data = {'gene':['a','b','c','d','e'],
        'count':[61,320,34,14,33],
        'gene_length':[152,86,92,170,111]}
df = pd.DataFrame(data)
df = df[["gene","count","gene_length"]]

def calculate_RPKM(theC,theN, theL):
    """
    theC  == Total reads mapped to a feature (gene/linc)
    theL  == Length of feature (gene/linc)
    theN  == Total reads mapped
    """
    rpkm = ((10**9) * theC)/(theN * theL)
    return rpkm
N=12345
df["rpkm"] = calculate_RPKM(df['count'],N,df['gene_length'])
df

  gene  count  gene_length           rpkm
0    a     61          152   32508.366908
1    b    320           86  301411.926493
2    c     34           92   29936.429112
3    d     14          170    6670.955138
4    e     33          111   24082.405613

Use apply to return multiple columns

<http://stackoverflow.com/questions/16236684/apply-pandas-function-to-column-to-create-multiple-new-columns>

In [135]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'textcol' : np.random.rand(5)})
df.merge(df.textcol.apply(lambda s: pd.Series({'feature1':s+1, 'feature2':s-1})), 
    left_index=True, right_index=True)

    textcol  feature1  feature2
0  0.931221  1.931221 -0.068779
1  0.045474  1.045474 -0.954526
2  0.100294  1.100294 -0.899706
3  0.820350  1.820350 -0.179650
4  0.158150  1.158150 -0.841850

Return multiple columns, operating on a single column, with additional arguments

In [136]:
def myfunc(s,a1, a2):
    return pd.Series({'feature1':s+a1, 'feature2':s+a2})
    
df = pd.DataFrame({'textcol' : np.random.rand(5)})
df.merge(df.textcol.apply(myfunc,args=(+2, -5)), 
    left_index=True, right_index=True)

    textcol  feature1  feature2
0  0.456581  2.456581 -4.543419
1  0.287369  2.287369 -4.712631
2  0.700055  2.700055 -4.299945
3  0.309049  2.309049 -4.690951
4  0.765542  2.765542 -4.234458

The following example calculates the angle between two normal vectors, where the two vectors are given in separate tables. The common value whereby the two tables are joined is given in the 'Key' column in each of the tables.

In [137]:
from numpy import linalg as LA

def normCols(df, lst):
    """Normalise the columns in df, as listed in lst"""
    #get the vector length
    df['norm'] = (LA.norm(df[lst],axis=1))
    #normalise cols in list and return
    df[lst] = df[lst].divide(df['norm'], axis=0)
    df.drop('norm',axis=1,inplace=True)
    #value seems to be returned in the df parameter passed on the function call
    return 

#create the data: [key, x, y, z]
lstA = [['a',1,0,0],['b',1,0,0],['c', 1,0,0],['d',-4.164548,2.835452,0.835452],['e',-4.164548,2.835452,0.835452]]
lstB = [['a',1,0,0],['b',0,1,0],['c',-1,0,0],['d',-4.164548,2.835452,0.835452],['e',-3.164548,1.835452,2.835452]]

#make dataframes
vec = ['x','y','z']
cols = ['Key'] + vec
dfA = pd.DataFrame(lstA,columns=cols)
dfB = pd.DataFrame(lstB,columns=cols)

#normalise vectors
normCols(dfA, vec)
normCols(dfB, vec)

#join the two vectors on the Key column
dfA.reset_index(inplace=True)
dfB.reset_index(inplace=True)
suffixes = ['a','b'] # used in labelling duplicate column names
dfM = pd.merge(dfA, dfB, left_on=['Key'],right_on=['Key'], how='inner', suffixes=suffixes)  

#calc angle between vectors
va = ['xa','ya','za']
vb = ['xb','yb','zb']
# inner() calculates Va x Vb.T, on which the diagonal() is 
# the dot product of the respective rowA and rowB.T vectors
dfM['angle'] = np.arccos(np.diagonal(np.inner(dfM[va],dfM[vb])))

print(dfM)

   indexa Key        xa        ya       za  indexb        xb        yb        zb     angle
0       0   a  1.000000  0.000000  0.00000       0  1.000000  0.000000  0.000000  1.570796
1       1   b  1.000000  0.000000  0.00000       1  0.000000  1.000000  0.000000       NaN
2       2   c  1.000000  0.000000  0.00000       2 -1.000000  0.000000  0.000000  1.257433
3       3   d -0.815462  0.555211  0.16359       3 -0.815462  0.555211  0.163590  1.348806
4       4   e -0.815462  0.555211  0.16359       4 -0.683709  0.396554  0.612607  1.443474

In [138]:
a=np.array([[1,2],[3,4]])
b=np.array([[11,12],[13,14]])
print(a)
print(b.T)
# print(np.dot(a,b))
print(np.inner(a,b))

[[1 2]
 [3 4]]
[[11 13]
 [12 14]]
[[35 41]
 [81 95]]

### Histograms

[Histogramming and Discretization](http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#basics-discretization)

In [139]:
s = pd.Series(np.random.randint(0,7,size=10))
s.value_counts()

4    4
5    2
3    2
6    1
2    1
dtype: int64

### Strings
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](http://pandas.pydata.org/pandas-docs/version/0.15.2/text.html#text-string-methods).

In [140]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()
s.str.upper()
s.str.len()

0     1
1     1
2     1
3     4
4     4
5   NaN
6     4
7     3
8     3
dtype: float64

In [141]:
# Methods like split return a Series of lists:
s2 = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])
s2.str.split('_')

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [142]:
s2.str.split('_').str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [143]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan,'CABA', 'dog', 'cat'])
s.str[1]

0    NaN
1    NaN
2    NaN
3      a
4      a
5    NaN
6      A
7      o
8      a
dtype: object

You can use [] notation to directly index by position locations. If you index past the end of the string, the result will be a NaN.

In [144]:
# Easy to expand this to return a DataFrame
s2.str.split('_').apply(pd.Series)

     0    1    2
0    a    b    c
1    c    d    e
2  NaN  NaN  NaN
3    f    g    h

Methods like replace and findall take regular expressions, too:

In [145]:
s3 = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca','', np.nan, 'CABA', 'dog', 'cat'])
s3.str.replace('^.a|dog', 'XX-XX ', case=False)

0           A
1           B
2           C
3    XX-XX ba
4    XX-XX ca
5
6         NaN
7    XX-XX BA
8      XX-XX
9     XX-XX t
dtype: object

### Grouping
By group by we are referring to a process involving one or more of the following steps  

- Splitting the data into groups based on some criteria  
- Applying a function to each group independently    
- Combining the results into a data structure   

[grouping](http://pandas.pydata.org/pandas-docs/version/0.15.2/groupby.html#groupby)

In [146]:
df = makefoobar()
df

     A      B         C         D
0  foo    one -1.233025  0.003326
1  bar    one  0.205756  0.515258
2  foo    two  0.128118 -1.034466
3  bar  three -0.972779  0.937287
4  foo    two  1.147626  0.435070
5  bar    two -1.348297  1.007372
6  foo    one  1.431263  0.685638
7  foo  three -0.155294  0.539748

Grouping and then applying a function sum to the resulting groups.

In [147]:
df.groupby('A').sum()

            C         D
A
bar -2.115320  2.459917
foo  1.318688  0.629315

In [148]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.205756  0.515258
    three -0.972779  0.937287
    two   -1.348297  1.007372
foo one    0.198238  0.688964
    three -0.155294  0.539748
    two    1.275744 -0.599396

In [149]:
df = makefoobar()
print(df)
cnts = {}
#first value is group column value, seond value is the members in the group
for grp, grp_data in df.groupby("B"):
    cnts[grp] = grp_data.C.mean()  
cnts

     A      B         C         D
0  foo    one -0.517022  0.473180
1  bar    one  1.032362 -1.285071
2  foo    two -0.125772 -1.262822
3  bar  three -0.538616 -0.246388
4  foo    two -0.486880  0.760793
5  bar    two  0.649850 -1.806221
6  foo    one  0.218858 -0.446472
7  foo  three -0.629262 -0.480170

{'one': 0.24473282517804754,
 'three': -0.583938653661751,
 'two': 0.012399468592908192}

### Reshaping

[Hierarchical Indexing](http://pandas.pydata.org/pandas-docs/version/0.15.2/advanced.html#advanced-hierarchical) and [Reshaping](http://pandas.pydata.org/pandas-docs/version/0.15.2/reshaping.html#reshaping-stacking).

In [150]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]

                     A         B
first second
bar   one    -0.120427  1.174790
      two    -0.954820 -1.313270
baz   one     0.739900 -0.639821
      two    -0.233892  0.908707

The stack function compresses a level in the DataFrames columns.

In [151]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.120427
               B    1.174790
       two     A   -0.954820
               B   -1.313270
baz    one     A    0.739900
               B   -0.639821
       two     A   -0.233892
               B    0.908707
dtype: float64

With a stacked DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack is unstack, which by default unstacks the last level:

In [152]:
stacked.unstack()

                     A         B
first second
bar   one    -0.120427  1.174790
      two    -0.954820 -1.313270
baz   one     0.739900 -0.639821
      two    -0.233892  0.908707

In [153]:
stacked.unstack(1)

second        one       two
first
bar   A -0.120427 -0.954820
      B  1.174790 -1.313270
baz   A  0.739900 -0.233892
      B -0.639821  0.908707

In [154]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.120427  0.739900
       B  1.174790 -0.639821
two    A -0.954820 -0.233892
       B -1.313270  0.908707

## Categoricals
see the [categorical introduction](http://pandas.pydata.org/pandas-docs/version/0.15.2/categorical.html#categorical) and the [API documentation](http://pandas.pydata.org/pandas-docs/version/0.15.2/api.html#api-categorical).

In [155]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
# Convert the raw grades to a categorical data type.
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

Rename the categories to more meaningful names (assigning to Series.cat.categories is in place!) Reorder the categories and simultaneously add the missing categories (methods under Series .cat return a new Series per default).

In [156]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [174]:
# Sorting is per order in the categories, not lexical order.
# df.sort_values(by="grade")

In [176]:
# Grouping by a categorical column shows also empty categories.
# df.groupby("grade").size()

## Pivot tables
See the section on [Pivot Tables](http://pandas.pydata.org/pandas-docs/version/0.15.2/reshaping.html#reshaping-pivot).

In [177]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.235598 -1.035348
1     one  B  foo  0.784309 -0.093501
2     two  C  foo -0.216798 -0.672809
3   three  A  bar  0.423319  3.164183
4     one  B  bar  0.523930  0.521589
..    ... ..  ...       ...       ...
7   three  B  foo  0.682445  0.910280
8     one  C  foo  0.212021 -1.183015
9     one  A  bar  0.721735  1.197969
10    two  B  bar -0.041518 -0.218922
11  three  C  bar -0.870493 -0.367801

[12 rows x 5 columns]

In [178]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.721735 -0.235598
      B  0.523930  0.784309
      C -1.205354  0.212021
three A  0.423319       NaN
      B       NaN  0.682445
      C -0.870493       NaN
two   A       NaN -0.131668
      B -0.041518       NaN
      C       NaN -0.216798

Reconstruct the sampled presented in the pages at [Pandas Pivot Table Explained ](http://pbpython.com/pandas-pivot-table-explained.html) and [Generating Excel Reports from a Pandas Pivot Table ](http://pbpython.com/pandas-pivot-report.html).  

First load the data and set the Status column as a pandas `category` and set the viewing order. Set the `Name` as table index.

In [179]:
df = pd.read_excel("./data/sales-funnel.xlsx")
df["Status"] = df["Status"].astype("category")
df["Status"].cat.set_categories(["won","pending","presented","declined"],inplace=True)
print(df.head(4))

print(pd.pivot_table(df,index=["Name"]))

   Account                          Name           Rep       Manager      Product  Quantity  Price     Status
0   714466               Trantow-Barrows  Craig Booker  Debra Henley          CPU         1  30000  presented
1   714466               Trantow-Barrows  Craig Booker  Debra Henley     Software         1  10000  presented
2   714466               Trantow-Barrows  Craig Booker  Debra Henley  Maintenance         2   5000    pending
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley          CPU         1  35000   declined
                              Account  Price  Quantity
Name
Barton LLC                     740150  35000  1.000000
Fritsch, Russel and Anderson   737550  35000  1.000000
Herman LLC                     141962  65000  2.000000
Jerde-Hilpert                  412290   5000  2.000000
Kassulke, Ondricka and Metz    307599   7000  3.000000
...                               ...    ...       ...
Koepp Ltd                      729833  35000  2.000000
Kulas Inc                      218895  25000  1.500000
Purdy-Kunde                    163416  30000  1.000000
Stokes LLC                     239344   7500  1.000000
Trantow-Barrows                714466  15000  1.333333

[12 rows x 3 columns]

## Comparing and Gotchas

In [180]:
<http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#basics-compare>  
<http://pandas.pydata.org/pandas-docs/version/0.15.2/basics.html#boolean-reductions>   

pandas follows the numpy convention of raising an error when you try to convert something to a bool. This happens in a if or when using the boolean operations, and, or, or not.  
<http://pandas.pydata.org/pandas-docs/version/0.15.2/gotchas.html#gotchas>

SyntaxError: invalid syntax (<ipython-input-180-71ea536b965b>, line 1)

# Date and time

In [181]:
# print('0')
# TMY = pd.DataFrame([0,1],index=['1981-01-01T10:00:00.000000000+0200', '1981-01-01T11:00:00.000000000+0200'])
# print(TMY)
# print('1')
# print(type(TMY.index.to_datetime().values))
# print(TMY.index.to_datetime().values)
# print('2')
# print(type(TMY.index.astype(np.int64)))
# print(TMY.index.astype(np.int64) // 10**9)  #timestamp is unix time with nanoseconds
# print('3')
# print(type(pd.to_datetime(TMY.index.astype(np.int64))))
# print(pd.to_datetime(TMY.index.astype(np.int64)))  #timestamp is unix time with nanoseconds

## Python and [module versions, and dates](http://nbviewer.ipython.org/github/jrjohansson/scientific-python-lectures/blob/master/Lecture-0-Scientific-Computing-with-Python.ipynb)

In [182]:
%load_ext version_information
%version_information pandas, numpy, scipy, matplotlib, pyradi

The version_information extension is already loaded. To reload it, use:
  %reload_ext version_information

Software versions
Python 2.7.10 64bit [MSC v.1500 64 bit (AMD64)]
IPython 4.0.0
OS Windows 7 6.1.7601 SP1
pandas 0.17.0
numpy 1.10.1
scipy 0.16.0
matplotlib 1.4.3
pyradi 0.2.1
Fri Nov 27 08:14:52 2015 South Africa Standard Time