https://github.com/catherinedevlin/ipython-sql

https://anaconda.org/conda-forge/ipython-sql

conda install -c conda-forge ipython-sql

In [1]:
%load_ext sql

C:\Users\NWillers\Anaconda3\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
C:\Users\NWillers\Anaconda3\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql sqlite://

'Connected: None@None'

In [3]:
%%sql
DROP TABLE IF EXISTS writer;
CREATE TABLE writer (first_name, last_name,year_of_death);
INSERT INTO writer VALUES ('William','Shakespeare',1616);
INSERT INTO writer VALUES ('Berholt','Brecht',1956);

Done.
Done.
1 rows affected.
1 rows affected.

[]

In [4]:
%sql SELECT * FROM writer

Done.

[('William', 'Shakespeare', 1616), ('Berholt', 'Brecht', 1956)]


https://www.youtube.com/watch?v=zxkdO07L29Q  
https://github.com/nicolaskruchten/pyconca  

https://github.com/nicolaskruchten/jupyter_pivottablejs  
conda install pivottablejs

In [5]:
import pandas as pd
df = pd.read_csv("mps.csv")

from pivottablejs import pivot_ui

pivot_ui(df)